[2015-05-22 18:09] ysbaddaden commented on #677
I fixed it using embedded .a libraries with `--link-flags "-static -L/opt/crystal/embedded/lib` which may help to statically build our own app, I guess.

[2015-05-22 18:13] Codcore commented on #687
@ysbaddaden , thanks!

[2015-05-22 20:50] asterite opened #688 "[RFC] How to implement channel select correctly?"
Right now, it's like this:

[code]

`Channel.select` returns the first available channel, that's why it works in the `case` expression.

However, once we spread coroutines in many threads, it might happen that between the `select` call and the `receive` call another thread receives a channel's value.

There's also the problem that you can avoid calling `receive` afterwards. And also, there's no wa

[2015-05-22 21:27] kostya commented on #688
let Channel.select return tuple `{ch, value}`

[2015-05-22 21:33] asterite commented on #688
But `value` will then be the union of all the types of the channels :-(

[2015-05-22 23:04] Codcore opened #689 "/usr/lib/crystal/http/server/server.cr:75: undefined method 'headers' for Hash(String, Array(String))"
I get such error when running this file - https://github.com/Codcore/facets/tree/master/tests
I have tried to figure out what causes it, but I couldn't. My brains is boiled. Is it compiler failure?

[2015-05-23 05:51] ysbaddaden commented on #686
I almost got Crystal to compile itself against musl libc (using a statically built crystal binary on alpine linux), and I'm down to a single missing symbol when linking: *errno*, which is defined differently.

[code]
I'm not sure how to translate this.

[2015-05-23 08:39] jhass commented on #686
`fun errno_location = __errno_location() : LibC::IntT*`, no?

[2015-05-23 09:53] sergey-kucher opened #690 "It is possible to avoid generics?"
My first impression about Crystal - it's awesome! Expressiveness of Ruby and speed of C is something  unique. I think it can attract many programmers (not only rubyists) and Crystal can become one of mainstream languages. But I think it's only possible if Crystal will preserve it's expressiveness (not necessary in ruby way).

In my opinion, in the long term, generics (i.e. parametrized classes) it

[2015-05-23 10:01] jhass commented on #690
I don't think fully ever, but for an amazing already, they can be inferred, like `Array.new(5) { Array.new(5, 0) }` works, and I think inference will and can be improved. In some distant point maybe even for (some) cases like `a = []; a << 1`.

[2015-05-23 12:58] #689 closed

[2015-05-23 12:59] bararchy opened #691 "Project crashes with latest commit"
Building is fine, but running crashes
(https://github.com/bararchy/mos_game)
[code]

Working perfectly using former commit

[2015-05-23 13:51] jhass commented on #691
For future reference, current HEAD is 2110d08a6864192d06258df7e43d1af604b4a78f

[2015-05-23 14:20] asterite commented on #690
@sergey-kucher We can't get rid of generics. In the beginnings we didn't have them and compile times were exponential relative to the code size. With generics it became linear.

I don't think you'll ever have to write that long generic type. One reason is what @jhass said, the type inference is pretty good (although not perfect) so you generally don't have to write all that down. Second, you don't

[2015-05-23 14:20] #691 closed

[2015-05-23 14:21] asterite commented on #691
@bararchy Thanks for reporting this! There was a small but serious bug in a class we introduced.

[2015-05-23 15:06] ysbaddaden commented on #686
Yes. Replacing calls to `LibC.errno` for `LibC.errno_location().value` (I tried to add some `ifdef musl` but I still got some `undefined references to errno`), fixing some missing dependencies, and I got version of Crystal built against musl libc!

[code]

The problem now, is a segfault with [gc](http://pkgs.alpinelinux.org/package/main/x86_64/gc) when I try to compile something with it:

[code]

[2015-05-23 19:16] phortx commented on #589
Since my question is answered, I'll close that issue.

@ssvb I encourage you to open a new issue for your suggestion :)

[2015-05-23 19:16] #589 closed

[2015-05-24 09:01] bararchy commented on #677
@ysbaddaden
Thats kinda cool, where did you get the libs from ?

[2015-05-24 11:24] ysbaddaden commented on #677
In the distributed deb packages for ubuntu. I suppose they are in the tarballs too.

[2015-05-24 11:37] Codcore opened #693 "Crystal IDE support"
Is there IDEs supporting Crystal projects? (except Vim)

[2015-05-24 11:38] bararchy commented on #693
@Codcore
Sublime --> https://github.com/manastech/sublime-crystal

[2015-05-24 12:49] sergey-kucher commented on #693
:+1:

[2015-05-24 12:52] Codcore commented on #693
Thanks! I hope InteliJIDEA plugin will be introduced soon

[2015-05-24 12:53] bararchy opened #694 "issue with Colorize (or each?)"
Code:
[code]

Output:

[code]

Example on carc.in: http://carc.in/#/r/f5

[2015-05-24 12:54] jhass commented on #693
Related:

* https://groups.google.com/forum/#!topic/crystal-lang/VBcUdJNUM-s
* https://groups.google.com/forum/#!topic/crystal-lang/YqrG_zPkfkA
* #523
* #308
* #65

[2015-05-24 12:55] bararchy commented on #693
Me too, I'm working with RubyMine regularly, would be awesome to have CrystalMine :)

[2015-05-24 14:22] ysbaddaden commented on #694
This works: http://carc.in/#/r/fe

[2015-05-24 14:25] jhass commented on #694
Yes, but logically at the point of line.split, line must be a String

[2015-05-24 14:25] bararchy commented on #694
Interesting, so using the symbols bypasses the issue.

[2015-05-24 14:45] bararchy commented on #694
Also, changing
[code]
to
[code]
also is better, but now throws a
[code]

[2015-05-24 14:51] bararchy commented on #694
putting the whole thing inside a ```if line``` returned to throwing

[code]

[2015-05-24 15:06] #693 closed

[2015-05-24 17:09] ysbaddaden commented on #694
@jhass maybe the compiler got confused about the type because of the repeated `line =` in the different cases?

@bararchy once you colorize, you end up with a `Colorize::Object(String)` type. You should cast it to String again if you want to keep interact with it.

[2015-05-24 17:10] jhass commented on #694
@ysbaddaden yes, that's my guess.

[2015-05-24 20:00] #694 closed

[2015-05-24 20:02] asterite commented on #694
As both @ysbaddaden and @jhass guessed, the compiler got confused because `line` assigned inside the block and then incorrectly thought `line` gets the last type assigned to it at the beginning of the block. If you look at the commit (which is very small) you'll even see there was a comment "TODO: check if we need a second meta-var", and now it's gone :-)

@bararchy Thanks for catching this. Whene

[2015-05-24 20:21] asterite commented on #684
This is not implemented yet.

[2015-05-24 20:27] kirbyfan64 commented on #684
I thought Crystal used PCRE?

[2015-05-24 20:36] phortx commented on #684
That explains it ... Thank you.

[2015-05-24 20:49] asterite commented on #684
@kirbyfan64 is there a PCRE function for doing gsub? I can't find it. We are doing gsub by ourselves, finding matches and replacing them. That means a "\\1" will be part of the final string unless we explicitly find those markers.

[2015-05-24 20:51] asterite commented on #684
@kirbyfan64 Totally offtopic, do you know [this game](http://en.wikipedia.org/wiki/Kirby_64:_The_Crystal_Shards)? The coincidence is huge :-P

[2015-05-24 21:11] phortx commented on #684
@kirbyfan64 @asterite Oh yes the coincidence in strong in this one :D

[2015-05-24 21:49] kirbyfan64 commented on #684
@asterite Yes. Where do you think I got my user name from? ;)

[2015-05-25 01:13] #683 closed

[2015-05-25 01:17] asterite commented on #683
I agree with this. I prefer the performance gain over the small inconsistency. You can always invoke `#to_a` later to get the old behaviour.

After I changed this the compiler didn't work because apparently we were using `Tuple#map` (well, `Enumerable#map`) in the codegen phase, and then `Array#last`, but `Tuple#last` didn't exist so I added that too. But to correctly implement `Tuple#last` I need

[2015-05-25 02:28] will commented on #688
It could be a tuple of `{Channel, Union, Class}`, and if [`as_cast`](https://github.com/will/crystal-pg/blob/master/src/core_ext/class.cr) was a proper part of the language, you could pop it out of the union type.

That's a little ugly though, and new syntax for this wouldn't be all that too bad.

[2015-05-25 13:57] bararchy commented on #26
So, Trying to build the Windows branch using the instructions in: https://github.com/manastech/crystal/blob/windows/README_win32.md

Step 1 produces:

[code]

[2015-05-25 14:06] bararchy commented on #26
Using @xwanderer fork from https://github.com/xwanderer/crystal/tree/win32
I get a similar issue regarding types

[code]

[2015-05-26 13:58] bararchy commented on #686
@ysbaddaden , did you managed to make it work ?

[2015-05-26 14:02] waj commented on #395
I just updated (93aa54e) the Vagrantfile so it should work out of the box.

[2015-05-26 14:02] #395 closed

[2015-05-26 15:36] ysbaddaden commented on #686
No, it sadly reaches further than I'm capable.

I guess we should compare the generated LLVM bytecodes to understand if the error comes from the generated crystal code, or maybe this has something to do with the way GC is initialized (it's patched for musl libc).

I also tried against Alpine 3.2 which is in beta and ships LLVM 3.6. I should retry with the stable Alpine 3.1 and LLVM 3.5.

[2015-05-26 17:07] Codcore opened #696 "instance variable was not initialized in all of the 'initialize' methods, rendering it nilable"
I have such code:
[code]
It is works fine and output is:
[code]
But, when I change it to next, I get error:
[code]
Output (http://carc.in/#/r/h5):
[code]
Can you explain what happens, and how can I avoid this error(without initializing instance variables in "initialize" method)?

[2015-05-26 17:14] ysbaddaden commented on #696
You can puts a nil, because Nil#to_s is defined, but you can't have math operations, because Nil#- isn't defined. Crystal requires most instance vars be:

- defined in #initialize
- defined to memoize values in getter methods (using @var ||= 0) and use the getters, not the ivars.

[2015-05-26 17:37] jhass opened #697 "Improve error message when using nilable instance variables"
For example by detecting whether a method call happened on the instance variable and then adding something like "(@foo is nilable, perhaps you need to assign it to a local variable?)" to the error message.

[2015-05-26 17:42] Codcore commented on #696
@ysbaddaden Thanks, everything fell into place!

[2015-05-26 17:42] #696 closed

[2015-05-26 17:46] jhass commented on #696
Another way around this is to use local variables: http://carc.in/#/r/i9

[2015-05-26 20:32] fdr commented on #633
What's a good alternative, if any?

I have found empty structs useful in Go (mostly as sentinel values in channels), and @will was relating in the https://github.com/will/crystal-pg driver it's useful for values opaque to Crystal code that exist only to be passed via FFI into procedures in other languages that can understand them.

[2015-05-26 20:35] kirbyfan64 commented on #633
@fdr Can't you use some kind of void pointer of something?

[2015-05-26 20:39] asterite commented on #633
@fdr Note than an empty Crystal struct is valid:

[code]

But not C structs, because as @kirbyfan64 says, they are not valid in C.

But I don't understand what you mean with "it's useful for values opaque to Crystal code that exist only to be passed via FFI into procedures in other languages that can understand them". Maybe a snippet?

[2015-05-26 20:51] will commented on #633
Thanks for the void pointer suggestion @kirbyfan64, it appears to work: https://github.com/will/crystal-pg/commit/cafe1ea65c9f853e6c684535077cdb7f29fbe1af

[2015-05-26 21:10] fdr commented on #633
@asterite I think @will just demonstrated it.  Looks like there is a way in this case; sorry about the misunderstanding.

[2015-05-26 22:08] Codcore opened #698 "Eval method"
Does Crystal have method like Ruby's eval()?

[2015-05-26 22:09] jhass commented on #698
No, we use macros for that.

[2015-05-26 22:19] Codcore commented on #698
@jhass, could you show an example,please?

[2015-05-26 22:21] jhass commented on #698
Do you have a usecase?

[2015-05-26 22:23] Codcore commented on #698
@jhass, yes: I have variable with class name in and want to call "new" method on this class.

[2015-05-26 22:27] waterlink commented on #698
This will not work with macroses.

You need to have a `Hash of String => Class` for that somewhere in constant. And then you just do this: `FACTORIES.fetch(klass_name_string) { fail "Unknown klass name string" }.new`

[2015-05-26 22:27] jhass commented on #698
http://carc.in/#/r/k1 that needs neither macros in Crystal, nor eval in Ruby.

[2015-05-26 22:32] asterite commented on #698
@Codcore where do you get that name from?

[2015-05-26 22:41] Codcore commented on #698
@asterite actually, from URL
@waterlink your approach doesn't work http://carc.in/#/r/k4

[2015-05-26 22:46] waterlink commented on #698
@Codcore, sorry, I thought it was obvious, that you need to define `FACTORIES` yourself:

[code]

[2015-05-26 22:48] asterite commented on #698
@Codcore This works: http://carc.in/#/r/k7

However, note that for that to work the array/hash of classes has to be of some specific class or module. You can't have `[] of Class`, because the compiler wouldn't know what can you do with it.

[2015-05-26 22:51] Codcore commented on #698
@asterite, @waterlink , @jhass thank you all. I am a beginner at Crystal, so sorry for stupid questions

[2015-05-26 22:51] #698 closed

[2015-05-26 22:55] jhass commented on #698
No worries, btw we have an [IRC channel](http://webchat.freenode.net/?channels=#crystal-lang) if you seek a bit more direct feedback ;)

[2015-05-26 23:13] waterlink commented on #698
@asterite or you can just have a proper `Factory` class and you will have an instance of `Hash<String, Factory>`

[2015-05-26 23:20] waterlink commented on #698
Though you can have a hash like that `{} of ClassA|ClassB|ClassC|...` if I don't miss anything?

[2015-05-27 00:16] will opened #699 "`crystal deps` on empty Projectfile fails"
[code]

[2015-05-27 02:26] rhysd commented on #681
How about MCJIT?  I think it can execute Crystal code incrementally like [lli](http://llvm.org/docs/CommandGuide/lli.html).

[2015-05-27 05:17] datanoise commented on #699
This change fixes the problem, but I feel like there should be an easier way to explicitly specify the type of an instance variable

[code]

[2015-05-27 07:57] bararchy opened #700 "Pointer without a value"
Shouldn't that just return a false (or nil) ?
[code]
output is : Program terminated abnormally with error code: 139

example : http://carc.in/#/r/l2

reference : http://crystal-lang.org/api/Pointer.html
"Note that a pointer is falsey if it's null (if it's address is zero)."

[2015-05-27 10:42] jhass commented on #700
Look at all the metadata that's setup when you make a string: https://github.com/manastech/crystal/blob/master/src/string.cr#L195

In your case all that data is set to a bunch of 0's, and 5 bytes is probably not even enough to fit it, so you get accesses to uninitialized memory.

[2015-05-27 10:45] bararchy commented on #700
@jhass not relevant, you can change it to 1024 and it still returns the same error.

[2015-05-27 10:48] jhass commented on #700
It is relevant, you don't setup the metadata of the String, it is not just a bunch of raw bytes.

[2015-05-27 10:50] bararchy commented on #700
Going with your theory, why then , when removing line 2, the code executes ?

[2015-05-27 10:52] jhass commented on #700
Because there you copy the sane header from another string into the buffer (and beyond, possibly corrupting other stuff) before calling any code that expects it to be properly set up.

[2015-05-27 10:53] bararchy commented on #700
hm..... Then I guess it makes sense.
Thanks.

[2015-05-27 10:53] #700 closed

[2015-05-27 16:17] asterite commented on #699
@datanoise You can: http://crystal-lang.org/docs/syntax_and_semantics/instance_variables_type_inference.html#specifying-the-types-of-instance-variables

[2015-05-27 16:28] datanoise commented on #699
Ah, that's great. I totally missed it.

[2015-05-27 23:27] Codcore opened #701 "Bug in Crystal when SomeClass is tested to be a Class"
The code that causes failure is here: http://carc.in/#/r/re
[code]

[2015-05-28 05:59] ysbaddaden commented on #701
{} of String => Class means the hash will have instances of Class, or derivates, but instances nonetheless.

You want {} of String => BaseController.class and then the hash will contain classes of BaseController and derivates like PostsController < BaseController.

[2015-05-28 06:08] Codcore commented on #701
@ysbaddaden, I already understood that, bit compiler says bug was found, so I opened this issue.

[2015-05-28 12:43] bararchy opened #702 "init app and init lib does the same thing ?"
I just created a init app:

[code]

Then init lib

[code]

What's the point of have both ?

[2015-05-28 13:13] asterite commented on #701
@Codcore You are right. We'll fix that (for now) by disallowing Class as a generic type. That will make that the above code won't compile (because that uses a generic type, BeAExpectation), but you can workaround it by doing `.is_a?(Class).should be_true`.

[2015-05-28 14:35] asterite commented on #702
There was a small difference, I think .deps.lock is/isn't in the .gitignore file. That's for now, maybe later there will be more differences.

[2015-05-28 14:37] bararchy commented on #702
Ok, as long as this is on purpose and not someone copy pasted to the wrong place ;)

[2015-05-28 14:37] #702 closed

[2015-05-28 18:02] #699 closed

[2015-05-28 18:02] #701 closed

[2015-05-28 18:05] asterite commented on #681
@rhysd The main issue we have, as always, is that the type of instance variables (and variables) changes as the program "evolves" (as the compiler finds more code to analyze). So the JIT will have to readjust the types it used, somehow. I think it's possible, just hard.

[2015-05-28 21:30] datanoise opened #703 "File::Stat#mode question"
What is the point of converting File::Stat#mode to a form that makes the decimal representation look like octal form? I ran into a bug where I assumed that this fields returns exactly the value from C API.

That makes it quite difficult to do binary operations to extract the individual permissions, e.g. to check if a group has write permission: `stat.mode & (1 << 4) != 0`

Btw, Ruby's File::Stat r

[2015-05-28 22:13] #703 closed

[2015-05-28 22:14] asterite commented on #703
Hm, File::Stat came from a big pull request, apparently I didn't see that method... it should just return the underlying value.

[2015-05-28 22:27] asterite commented on #703
@datanoise Kind of offtopic, but can I include [this](https://github.com/datanoise/mongo.cr/blob/master/src/shims/time.cr) in the standard library?

[2015-05-28 22:30] datanoise commented on #703
that would be nice, thank you!

[2015-05-29 07:53] bararchy opened #704 "Bug in logger ?"
http://carc.in/#/r/ud

Code:
[code]
Output:
[code]

[2015-05-29 07:57] bararchy commented on #704
Also, changing the output to STDOUT
[code]
Produces a different issue:

[code]

[2015-05-29 08:25] ysbaddaden commented on #704
The problem is `Logger(String)` which considers `@io` to be a String when it should be an IO object. Logger could handle thise case, thought, and automatically open the file for a String.

See https://github.com/manastech/crystal/blob/master/src/logger.cr#L64

About the other issue, I'm not sure what's happening.

[2015-05-29 09:55] bararchy commented on #704
Compiling with --debug and running with gdb, the STDOUT error outputs this:

[code]

I guess this is the issue:

[code]
From here though, this is up to @asterite  I believe ;)

[2015-05-29 10:01] bararchy opened #705 "issue with STDERR.puts"
Using 0.7.1:
http://carc.in/#/r/ut

Using 0.7.2:
http://carc.in/#/r/uu

Seems like a regression.

[2015-05-29 13:29] Nightforge opened #706 "High CPU load on Darwin (Crystal 0.7.2)"
Hello!

Issue with crystal compiler 0.7.2 on OS X - high CPU load
Test code is:
[code]
I test the same code on os x with 0.7.1 - has no issues. Crystal compiler for linux (0.7.1 and 0.7.2) also has no this issue.
![screen shot 2015-05-29 at 18 18 12](https://cloud.githubusercontent.com/assets/583081/7883485/44040360-0630-11e5-80b0-62d9b3b7e03a.png)

[2015-05-29 14:00] tommasop commented on #706
Same issue here with the simple http server code.

100% cpu loading

------------------------------------

IN OBSCURO MIRANDA RELUCENT

[2015-05-29 14:01] #704 closed

[2015-05-29 14:01] #705 closed

[2015-05-29 14:13] asterite commented on #706
Seems it has something to do with the change to STDOUT (and others) from CFileIO to FileDescriptorIO and non-blocking IO for that. Not sure yet why it's happening.

[2015-05-29 14:19] bararchy commented on #704
@asterite , seems to get the same issue with latest git

[code]

[2015-05-29 14:20] bararchy commented on #704
Not the same... another issue ;)

[2015-05-29 14:21] asterite commented on #704
@bararchy Are you passing a String or an IO to the logger?

[2015-05-29 14:24] bararchy commented on #704
"a_path_to_file"
... but now that I look at the source, I see it only accepts io object.
weird that didn't poped up in compile time.

[2015-05-29 14:52] bararchy opened #707 "Compiler error"
code:

[code]
log is a local variable
Output:
[code]

[2015-05-29 15:01] will opened #708 "constant requires initialization of $_exec_recursive, which is initialized later. Initialize $_exec_recursive before"
We've ran into a weird compile error that I've been unable to distill down to a standalone example. These files depend on https://github.com/will/crystal-pg/tree/cafe1ea65c9f853e6c684535077cdb7f29fbe1af

### a.cr
a.cr is just src/pg.cr inlined, and then some client code afterwards
[code]

it executes fine

[code]

### b.cr
However if we run a statement before returning the connection (either here

[2015-05-29 15:15] waj commented on #706
The problem is that libevent is raising the "write" event for the STDOUT all the time, even though the event is registered with the ET (edge triggered) flag: https://github.com/manastech/crystal/blob/master/src/concurrent/scheduler.cr#L24

I'll investigate this further to find a solution. Thanks for reporting!

[2015-05-29 15:37] asterite commented on #706
In IRC @jhass confirmed this doesn't happen in linux, so maybe it's a bug in libevent for mac, but we'll have to investigate.

[2015-05-29 15:40] kirbyfan64 commented on #707
Wouldn't it be possible for `log` to be uninitialized here? What if `io.is_a?(IO)` is false?

[2015-05-29 15:45] bararchy commented on #707
well... Thats the whole code:

[code]

Why didn't it failed before then ?

[2015-05-29 15:53] bararchy commented on #707
@kirbyfan64
Tough you were on the spot, changing it to
[code]

made it compile

[2015-05-29 16:36] ysbaddaden commented on #704
I didn't pop up at compile type because `Logger(T)` declares a generic. With `initialize(io : T)`, when passing a String, the compiler expects T to be a String when the developers expects it to be an IO object. Oops.

There's indeed a problem. Either we declare that T must be an IO or a descendant of IO and/or we do support the case where `Logger.new(String)` will try and open the file.

[2015-05-29 16:49] datanoise opened #709 "compiler crash"
I started libssh2 binding, but ran into the compiler crash issue.

Please see https://github.com/datanoise/ssh2.cr/blob/master/crash.cr

[code]

corresponding crash stack trace:

[code]

[2015-05-29 18:47] kirbyfan64 opened #710 "Recursive blocks?"
Disclaimer: I am new to Crystal (and Ruby), so I might be missing something.

I tried to create a recursive block/proc:

[code]

That didn't work with an error about an undefined reference to `g`. Understandable. However, things then start getting odd. I figured I could declare `g` as `nil` and then re-assign it:

[code]

I `still` got an undefined reference error! But this:

[code]

gives:

[code

[2015-05-29 19:02] #706 closed

[2015-05-29 19:03] waj commented on #706
The solution could be more elegant... but it works for now. @Nightforge, @tommasop could you confirm if this fixes the issue?

[2015-05-29 20:24] Nightforge commented on #706
Confirmed!

[2015-05-29 20:25] kirbyfan64 commented on #710
BTW, I solved this by doing:

[code]

[2015-05-29 22:29] asterite commented on #707
@bararchy In the first snippet you have `log = Logger.new(io) if io.is_a?(IO)`, the `log` variable is guarded by an `if`. Even if you know for sure that the `io` will be an `IO`, the compiler doesn't automatically know that, so it treats `log` as being nilable.

[2015-05-29 22:43] #708 closed

[2015-05-29 22:44] asterite commented on #708
@will that error made no sense at all, I fixed it. There was a wrong logic somewhere...

[2015-05-29 23:37] will commented on #708
Great thanks! Verified it workes
[code]

[2015-05-30 00:07] asterite commented on #709
@datanoise I'm trying to reduce it, it's hard. But i'll find it.

In the meantime you can replace the `loop { ... }` with `while 1 == 1; ...; end` (not with `true` as that triggers the bug too, `while true` is a special case for the compiler).

[2015-05-30 06:52] baltavay opened #711 "Strange Array behaviour"
Strange array behaviour
[code]
I get `undefined method 'hello' for String`.

[2015-05-30 07:12] bcardiff commented on #711
It's because the inner array is of `Foo|String`. The assignment can't deal with that.
But it works if you use tuples.

http://play.crystal-lang.org/#/r/ym

[code]

[2015-05-30 09:13] #707 closed

[2015-05-30 13:49] bararchy opened #713 "gets() only allows char as delimiter"
I really don't get this decision, lets say I want to read from User\Socket until I get "\r\n\r\n" or "\0\0\0\0" or even "ENDEND" why does it forces a char ? what's the point ?

[2015-05-30 15:26] bararchy commented on #713
Goes also for chomp which allows only a char.

[2015-05-30 19:58] strcmp opened #714 "Module#=== incompatibility between Ruby/Crystal."
In Ruby this is true, in Crystal it's false.
[code]
Although, case works the same in Ruby and Crystal.
[code]

[2015-05-30 21:49] ysbaddaden commented on #714
The `when Array` statement is interpreted as `when [1, 2, 3].is_a?(Array)` at compile time (this is merely a developer convenience). The `===` method is thus never invoked at runtime.

That doesn't explain why `===` behaves differently thought. There must be another reason.

[2015-05-30 22:07] datanoise opened #715 "failed running crystal browser"
Here is the error:

[code]

Here is the diff that fixes it:

[code]

[2015-05-31 01:11] datanoise commented on #709
It looks like this is not related to `loop` or `while` constructs but to any NoReturn proc. If I replace `loop {}` with `raise ""`, it also triggers this bug.

Also if I explicitly return `nil` or any other non Int32 value from ensure block, it fixes the problem:

[code]

[2015-05-31 04:03] asterite commented on #709
@datanoise Yes. In fact I was able to further reduce it to this:

[code]

But that still depends on the prelude, STDOUT, etc. I'll try to reduce it further, I always try to reduce it to the minimum necessary and then isolate it in a spec so it doesn't happen anymore. I'm sure it must be some little thing missing in the codegen phase which should be very easy to fix :-) (just didn't have the time y

[2015-05-31 04:07] asterite commented on #714
It's not yet implemented because it's not that simple. Maybe we can just do:

[code]

Or maybe:

[code]

I'll try one of these. In any case, it's not as useful as the `case ... when` or `is_a?` because the compiler doesn't restrict the types.

@strcmp Do you need this for a reason, or just have it for completeness?

[2015-05-31 04:12] asterite commented on #713
@bararchy What's not in the standard library might be because we didn't have time to do it, or we didn't need it. I think Ruby has that functionality because it lacks a Char type, so they are forced to handle the general String case. But in C, for example, there's `getdelim` which only accepts a char. Of course there's no need that we do the same, I'll try to implement it for IO, should be simple.

[2015-05-31 04:13] asterite commented on #715
@datanoise Thanks! I'll apply that patch soon.

Do you use browser? It was something fun we did in the beginning, I don't use it anymore and I don't find it useful, maybe we should remove it until we do something decent with it. What do you think?

[2015-05-31 04:19] datanoise commented on #715
I ran it because I thought it would show me the exact method signatures along with all Type annotations, but was disappointed that it's not there. It could be very useful addition, considering that `crystal hierarchy` doesn't display methods.

[2015-05-31 05:21] strcmp commented on #714
@asterite Yeah, nothing specific that would require me to use === instead of is_a?, so just for completeness. I thought about sending a pull request that would have used your second example(other.is_a?(self)), but in the end I didn't. It came up on IRC while talking with @jhass and unshadow. No real code involved. :smile:
@ysbaddaden Thanks for the extra bit of information.

[2015-05-31 05:41] asterite commented on #715
Well, you can click on the calls to see the instantiated methods, but it looks really ugly right now in my opinion (not only because of the colors, but the code you see is like the expanded form used by the compiler).

But what do you mean with "exact method signatures"? Would you like to see method instantiations? To see the methods you can also use `crystal doc` or just see the source code, but

[2015-05-31 07:25] bararchy commented on #713
@asterite Just wanted to say sorry about the aggressive way this issue is written in.
It was uncalled for and it was my own frustration while working over hours spilling towards the wrong people.

It would be great  if you could add that, if not, that's totally fine too.

Real world usage:

I have an HTTP proxy written in Ruby which I was tasked with converting to Crystal,  this proxy reads from S

[2015-05-31 08:00] bararchy opened #716 "Issue with File on some cases"
On carc.in with Crystal 0.7.2 sending to File# path as a string or as a local variable holding string is working.
1) string http://carc.in/#/r/11t
2) variable http://carc.in/#/r/11u

On my latest git version this is the error I get:
[code]

My code is this:

[code]

[2015-05-31 08:15] jhass commented on #716
`not (String | Int32 | Int64 | Float64 | Time | Bool | Hash(String, TOML::Type) | Array(TOML::Type)`

You need to tell the compiler that `pid_path` is a `String`.

[2015-05-31 08:17] bararchy commented on #716
if pid_path && pid_path.is_a?(String)
    File.delete(pid_path) if File.exists?(pid_path)
 end

Isn't that enough ?

[2015-05-31 08:19] jhass commented on #716
Apparently not, is pid_path a method perhaps?

[2015-05-31 08:20] bararchy commented on #716
pid_path is a string (local variable)
pid_path = "/path/to/file"

[2015-05-31 08:23] jhass commented on #716
Maybe it's because the signal handler may be run concurrently, try assigning it to a local inside the handler
[code]

[2015-05-31 09:39] rhysd opened #717 "Union type instance variable is not checked by compiler"
Crystal compiler's type check is almost always awesome but compiler fails type check for instance variables as below.

Is it possible to check instance variable like normal variable?  I avoided this issue by `case x = @x` and using `x`...

- Code

[code]

- Error

[code]

[2015-05-31 09:57] jhass commented on #717
This is intentional, see #477

[2015-05-31 10:07] rhysd commented on #717
Oh, I've got it.  It's a problem of thread safety.  Thanks.

[2015-05-31 10:25] rhysd commented on #717
It seems that normal variable has the same problem.

[code]

http://carc.in/#/r/13p

Is it intended?

[2015-05-31 10:26] bararchy commented on #716
```.to_s``` seems to solve it.
(Your suggestion too)

I'll close this.

[2015-05-31 10:26] #716 closed

[2015-05-31 10:26] Codcore opened #718 "Crystal bug when implementing Singleton class"
Was trying to implement Singleton pattern in Crystal:
[code]
You can find error output and code at http://play.crystal-lang.org/#/r/13n

[2015-05-31 10:26] jhass commented on #717
Well, I hope so, it's closured into a thread, so it is affected in this case from the same problem and you can see the same solution works: http://carc.in/#/r/13q

[2015-05-31 10:41] rhysd commented on #717
Ah, `x` can took `nil` so that the `then` clause of `if` didn't occur an error.  Thanks a lot.

[2015-05-31 10:41] #717 closed

[2015-05-31 14:19] Codcore commented on #718
Following works:
http://play.crystal-lang.org/#/r/184
[code]
[code]
But I can't find how to make "new" private. Approach suggested by @jhass , doesn't work too:
http://play.crystal-lang.org/#/r/183
[code]

[2015-05-31 14:21] rhysd commented on #681
@asterite

Thank you for your anser.  I've understood that it is hard (and it may mean almost the same as recompiling whole code previously input).

[2015-05-31 14:46] asterite commented on #718
Interesting, I'll fix these.

A simpler way to make a singleton is to use a constant:

[code]

The first snippet works if you move the `@@instance` to the bottom. The "problem" is that `new` gets called, the default constructor is invoked, but then an `initialize` is defined. In fact, if you try it in Ruby and then output the `@msg` variable you will get nil:

[code]

But, if you move `@@instance`

[2015-05-31 14:49] asterite commented on #713
@bararchy No worries, we all have bad days :-)

Mmm... does that `socket.gets(/\r?\n\r?\n/)` line in Ruby works? As far as I know `gets` can receive a string or an integer, but not a Regex. I just tried it with File and StringIO and it doesn't work.

[2015-05-31 14:53] asterite commented on #716
The problem is that `pid_path` is being closured by the Signal handler, so the compiler does what it says [here](http://crystal-lang.org/docs/syntax_and_semantics/closures.html#type-of-closured-variables). This is what @jhass says.

[2015-05-31 14:54] asterite commented on #716
We should obviously improve the error message...

[2015-05-31 14:59] asterite commented on #717
@rhysd In the second case it's because of a [closured variable](http://crystal-lang.org/docs/syntax_and_semantics/closures.html#type-of-closured-variables). We need to improve the error message for these cases.

About the `x = @x`, there's no other way around. I found it annoying at first, but now I'm used to it. You can always find shorter ways to write these things:

[code]

Or:

[code]

Or just

[2015-05-31 15:03] bararchy commented on #713
Yeha, this line works :) it's not documented, or at lest I can't find the documentations.
But you could try it using a simple

[code]
you can use telnet to fill it up with data until you send \n\n or \r\n\r\n

[2015-05-31 15:10] bararchy commented on #713
Now that I tried that, I get an error that gets is not String or Int, maybe this is because that my Socket in the proxy is SSLSocket ? maybe it work differently ?

[2015-05-31 15:30] asterite commented on #713
Do you have a program with `gets(Regex)` in Ruby that works? The documentation doesn't say that Regex is a valid argument to gets, and checking the source code I can't find it either.

How can you implement this on an IO? You would have to consume an arbitrary sequence of bytes and then check if the regex matches. If the argument is a String it's easier: once the first char matches you continue ch

[2015-05-31 15:36] bararchy commented on #713
Yeha, just got it to work, apperently this only works for an SSLSocket (SSLServer)

server_code:

[code]

client code:

[code]

Running both right now gives the output:

[code]

Version: ```ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-linux]```

[2015-05-31 15:39] bararchy commented on #713
btw, because SSL has to read at least some number of bytes or the SSL Frame will be malformed maybe this is how it is possible, TBH I thought that it was a regular thing.

The string is the only thing I really need, the Regex is a nice addition, but not a necessity.

[2015-05-31 16:21] rhysd commented on #717
@asterite

Thank you for your advice!

`try` is one of the most favorite methods in Ruby.  I'll use it in Crystal.

[2015-05-31 17:11] veelenga commented on #715
Just pointed in the same error. What was the purpose of `browser` command ?

[2015-05-31 17:47] datanoise commented on #715
@asterite I was referring to method instantiations.
I just realized that I can see them via the browser but unfortunately they are shown without return types.

[2015-05-31 18:46] PragTob opened #720 "Document needed packages/libraries to run crystal spec"
Hi there,

at first thanks for all your work and passion with crystal! It is shaping up quite nicely :)

To get started today I just wanted to compile from source and do `bin/crystal spec` - I'm a test driven person :) I'm on Linux Mint 17.1 (which has Ubuntu 14.04 as a package base, so fairly common) with already lots of the common "Ruby developer" packages/libs installed. Getting to `make` and c

[2015-05-31 19:22] kirbyfan64 commented on #710
Wait, I think I got it. `g` is of type `Nil` in one case because it hasn't been defined yet. The other error is more helpful.

Still leaving this open because:
- The ability to define a recursive block without the ugly workaround is valuable.
- The error messages could be more consistent with regard to being either `Nil` or undefined.

[2015-06-01 11:27] bararchy opened #721 "Cannot build or run in folders with space in their names"
[code]

[2015-06-01 13:41] bararchy opened #722 "Issue with Sleep"
Version 0.7.2ת Ubuntu 14.04 Using the repo

Code:
[code]

Expected result:

[code]

What happens:

[code]

[2015-06-01 15:28] ysbaddaden commented on #722
Would you happen to run this inside a thread? Then your thread crashed, and exceptions aren't reported until you join it: any IO call and sleep related calls are currently broken inside threads since the libevent integration.

[2015-06-01 15:52] asterite commented on #722
@barachy Please, always provide snippets that we can copy, paste, run and verify that they work incorrectly. We can't just guess how you are using that `process_stop` method. I also guess it has something to do with threads.

[2015-06-01 16:09] bararchy commented on #722
Sorry ,

It was inside a Thread , I will try to always supply a working code to test .

Will this issue happens also when Fibers are used ?

Sent with AquaMail for Android
http://www.aqua-mail.com

On June 1, 2015 6:53:01 PM Ary Borenszweig <notifications@github.com> wrote:

@barachy Please, always provide snippets that we can copy, paste, run and verify that they work incorrectly. We can't just g

[2015-06-01 16:57] ysbaddaden commented on #722
TL;DR don't use threads or even fibers until further notice, and only `spawn { ... }` coroutines. They will run on a single thread for now, but will eventually be dispatched over any threads (I hope it will come fast).

I understand it's a bit saddening to lose threads for CPU-bound apps, but the libevent loop is faster than threads when it comes to IO and timers, and you can spawn *a lot* of coro

[2015-06-01 17:05] bararchy commented on #722
@ysbaddaden  Thanks for the explanation.

I'll work on changing my Thread.new to spawn do :)

[2015-06-01 17:05] #722 closed

[2015-06-01 18:13] #709 closed

[2015-06-01 18:13] #713 closed

[2015-06-01 18:13] #715 closed

[2015-06-01 18:13] #721 closed

[2015-06-01 20:50] kerkomen opened #725 "for loops in Crystal"
Not sure how to rewrite such constructs from Ruby in Crystal:

[code]

Crystal reports the following (which doesn't help):

[code]

And there seems to be no information on *for loops* in the docs.

[2015-06-01 20:57] asterite commented on #725
Use this:

[code]

We didn't bring the `for` loop from Ruby because it's not very used and you can do everything with regular methods and blocks.

[2015-06-01 20:59] kerkomen commented on #725
Thanks for the quick response!

[2015-06-01 20:59] #725 closed

[2015-06-01 21:06] jhass commented on #725
Another variant

[code]

[2015-06-01 21:58] kerkomen commented on #725
Thanks!

P. S. Since there are different variants listed, one may also use a `while` loop for that:

[code]

[2015-06-02 03:27] mverzilli opened #726 "Compiler crashes when trying to store derived class instance in class variable"
[code]

Here's the output:

[code]

The problem goes away if you don't store the Bar instance (which of course is not equivalent):

[code]

[2015-06-02 03:30] mverzilli commented on #726
On an additional note, I tried storing it at the class definition level (like ``` class Foo(T); @@bar = Bar(T).new; ...```) and storing it in an instance variable (```@bar``` instead of ```@@bar```), and in all those cases I got compiler crashes.

[2015-06-02 12:12] kerkomen opened #727 "Array from range"
The task is to construct an array from the range.

There are several ways to do that in Ruby (some of them are listed [here](http://stackoverflow.com/questions/191329/correct-way-to-populate-an-array-with-a-range-in-ruby)):

[code]

Neither of these ways works in Crystal. The following code does work:

[code]

But the latter ways to construct an array seem weird to me.

Are there any other ways?

[2015-06-02 12:22] jhass commented on #727
I think adding `Range#to_a` should be uncontroversial, how about sending a PR? :)

Another non-optimal solution, just for the sake of it:
[code]

[2015-06-02 12:23] jhass commented on #727
That said I actually very rarely need that, curious about your real world usecase :)

[2015-06-02 12:43] kerkomen opened #728 "About functional programming"
There seems to be no roadmap for Crystal development. However it would be great to know if there are any plans on implementing some nice features from the functional world.

There are Ruby-inherited `map`, `select` and `inject`, and the latter one has a somewhat strange name ([some ref](https://tommorris.org/posts/2595)). One more thing is that lazy evaluation seems to lack from Crystal:

[code]

[2015-06-02 12:53] datanoise commented on #728
It's already there. http://carc.in/#/r/1fs

`each` returns an iterator that provide lazy evaluation. This design reminds me a bit of the rust-lang iterators. Contrary to ruby, crystal's lazy iterators provide quit a bit of performance boost when you compile with `--release` option.

[2015-06-02 13:00] kerkomen commented on #727
Oops, `Range#to_a` [is actually working](http://play.crystal-lang.org/#/r/1fu). Sorry for that.
I agree, it's actually rare in the real world, though sometimes might be helpful when working with numbers and ranges or while playing with code.

And what's about keeping both `upto` and `to` constructs?

// I also noticed that Ruby prints every element of the Array on a new line while Crystal prints t

[2015-06-02 13:00] #727 closed

[2015-06-02 13:03] jhass commented on #727
I think they're both useful, `to` is useful if you're unsure if you want to iterate upwards or downwards, but if you know it `upto` and `downto` should fail your logic in a less subtle manner.

[2015-06-02 13:05] kerkomen commented on #727
That's reasonable. Thanks!

[2015-06-02 13:13] kerkomen commented on #728
Awesome. And it works on infinite lists as it should: http://carc.in/#/r/1g2.

And typing `1.0/0.0` is the only way construct the infinite list, isn't it?..

[2015-06-02 13:17] datanoise commented on #728
you can use `step` as well: http://carc.in/#/r/1g7

[2015-06-02 13:55] jhass commented on #728
I'd prefer to use https://github.com/manastech/crystal/blob/master/src/float.cr#L57 instead of constructing it manually, future proof and more readable.

[2015-06-02 14:20] asterite commented on #728
@datanoise Yes, the iterator design is similar to that of Rust. In Rust there's a `next` method that returns an `Option`. In the beginning we tried implementing Iterator like in Ruby (well, Ruby's Enumerator), raising an exception when there are no more elements.. but this turned out to be very slow. So we tried with `Option`, using `nil` to mark the end, but that prevents us from having iterators

[2015-06-02 14:47] #726 closed

[2015-06-02 14:49] asterite commented on #726
@mverzilli I fixed the first case. And now this gives a compile error:

[code]

And this too:

[code]

At least for now... the second one will always give an error because class variables should be bound to a generic type instance. We might make the first case work, like instance variables work, but for now with the first snippet you can workaround it.

[2015-06-02 15:31] tommasop commented on #706
Confirmed!

[2015-06-02 17:26] datanoise commented on #728
I agree, type union is one of my favorite features that keeps me coming back to crystal and i'm pretty sure it is one of the unique language features out there. It makes language feel very dynamic and removes clunky stuff like `Option<T>` or constantly forgetting to check for nil return values.

[2015-06-02 19:08] ziprandom opened #729 "Problems with Class Inheritance, nested Classes and Procs"
[code]

will lead to a compile error:

[code]

[2015-06-02 21:50] zamith opened #730 "Case statement not correctly return results"
I bumped into this strange bug, which I would love to try to fix, but don't really now where it is happening. The thing is that this works:

[code]

But this doesn't:

[code]

It fails with:

[code]

However, if save the result of the case statement branch that gets run, it works:

[code]

This is a really odd behavior, but I don't quite understand how the expressions are evaluated, to know if it

[2015-06-02 21:54] kirbyfan64 commented on #730
Read up on Crystal's `Nil` checking. Basically, Crystal knows that the case may never be matched, so it's type is an array of numbers *or* `Nil`.

[2015-06-02 21:57] jhass commented on #730
Yes, what's not apparent here is that Crystal doesn't track that you'll always runs in the condition, so the first example is closer to
[code]

[2015-06-02 22:00] zamith commented on #730
Totally forgot about the way Crystal handles grouping types...

So, I can fix it with:

[code]

Is there a better way?

[2015-06-02 22:00] jhass commented on #730
Depends on the real code I guess.

[2015-06-02 22:03] zamith commented on #730
[This](https://github.com/zamith/holmes/blob/master/src/selector_parser/css.cr#L7) is the actual code.

[2015-06-02 22:06] waterlink commented on #730
If you are sure, that the thing you return is never `nil`, you can call `not_nil!` on it:

[code]

link: http://carc.in/#/r/1ik

[2015-06-02 22:07] jhass commented on #730
Mh, I don't think you'll get much better. I'd use an `if/else` personally until I need to add more branches. You may consider returning an empty tuple (`Tuple.new`) since that's mostly  API compatible, close to a null object for Array in fact, but should be completely gone in the generated binary.

[2015-06-02 22:32] zamith commented on #730
Oh, cool. Thanks. Didn't know about that. @waterlink.

@jhass I think I'll stick with the Array, because `Tuple.new` does not respond with `nil` to `.first`, it responds with index out of bounds. But thanks for that.

[2015-06-02 22:32] #730 closed

[2015-06-03 06:37] Exilor commented on #730
@zamith if it helps, ```#first?``` does return ```nil``` on an [empty tuple](http://play.crystal-lang.org/#/r/1j3).

[2015-06-03 10:31] #711 closed

[2015-06-03 13:33] asterite commented on #711
@baltavay As @bcardiff says, arrays mix their types so when you access one of their elements the compiler doesn't know what type you'll get.

[2015-06-03 17:35] Codcore opened #731 "initialize's default arguments are incorrectly evaluated at the class scope"
Code:
(http://carc.in/#/r/1kr)
[code]
Output:
[code]
[code]

[2015-06-04 12:18] asterite commented on #729
Thanks for reporting this. The workaround for now is to declare all types before the "main" code:

[code]

[2015-06-04 12:20] asterite commented on #731
Thanks! I changed the subject, "Crystal bug found" is too generic :-)

The real bug is this:

[code]

Says "undefined method 'foo' for My:Class"... the default argument is being evaluated on the class scope, not the instance.

Then there's the other bug about the class casting.

[2015-06-04 14:28] bcardiff commented on #731
¿Should be that allowed at all? Sending messages to self before it is initialized seems a bad idea.
The instance variables will not be set at all. In the sample @asterite foo is constant, but will leads to error or garbage. There will be too much dependency on how code like

[code]

is expanding.

Allowing just self seems formally right thou.

[2015-06-04 18:42] kerkomen opened #733 "`combination` and `repeated_permutation`"
Ruby's `Array#combination` and `Array#repeated_permutation` cannot be found in Crystal. Are there any (simple) replacements? Are there reasons they are not implemented?
Sorry, if I've missed something, but I really couldn't find these methods.

[2015-06-04 18:57] kostya commented on #733
i implemented it for topaz here https://github.com/topazproject/topaz/blob/master/lib-topaz/topaz/array.rb
i think it can be easy copied.

[2015-06-04 20:03] asterite commented on #733
@kerkomen No reason, just nobody needed them for now, the language is still young (we are at 0.7.2), etc. Pull requests are welcome :-)

[2015-06-05 12:43] bararchy opened #734 "Additions for Process"
Hi,

I needed to add some things to Process for a project I'm working on and I thought I should share the changes, they are too small for PR but maybe someone would like to use them, Those changes add ```Process.kill(pid, signal)``` and ```Process.getpgid(pid)```

* Add to LibC

[code]
* Add to process.cr

[code]

Usage for kill is:

[code]
Or

[code]

[2015-06-05 12:46] jhass commented on #734
There's no such thing as a too small PR ;)

[2015-06-05 12:49] bararchy commented on #734
@jhass but...but... OK :(
I'll fork and PR.

[2015-06-05 13:16] dziulius commented on #734
This method seems weird to me:

[code]
Isn't it supposed to return process group id? Now it seems to return 0 or raise error (unless I'm blind).

[2015-06-05 13:18] bararchy commented on #734
@dziulius , you are right, this isn't right, I'll fix it before the PR

[2015-06-05 13:25] bararchy commented on #734
https://github.com/manastech/crystal/pull/735
Done.

[2015-06-05 13:25] #734 closed

[2015-06-06 03:05] cuyler opened #737 "Installation without homebrew"
Is there a way ( documented or not ) to install without the use of Homebrew, short of dissecting the Makefile? Some folks are weird and don't really want to use that tool but are interested in the work.

[2015-06-06 03:22] asterite commented on #737
There's a pkg file in the release:

https://github.com/manastech/crystal/releases/tag/0.7.2

But in any way you will need a compiler binary because this is a self-hosted compiler.

[2015-06-06 04:35] naturalist opened #738 "invalid UInt64 when running crystal browser"
OSX Darwin Kernel Version 13.4.0
Crystal 0.7.2 [3034ebb] (Tue May 26 16:35:46 UTC 2015)

File `test.cr` with contents:

[code]

Running `crystal browser test.cr` returns:

[code]

[2015-06-06 04:37] datanoise commented on #738
that's been fixed in master already

[2015-06-06 13:05] omeid opened #740 "Octal prefix is incosistent."
Just looking through the docs it seems like `0b` is used for binary, `0x` is used for hex, then why just `0` for Octal? wouldn't `0o` makes more sense?

[2015-06-06 13:26] jhass commented on #740
Well, that's a common scheme that you can find in many languages.

[2015-06-06 13:47] omeid commented on #740
The `0` comes from the old Unix days it seems.
Yes but later versions of Perl, Python, and ES have moved away from `0` only to Haskell like `0O`/`0o`. Ruby also at least as of version 2 supports the `0o` notation.

[2015-06-06 14:57] asterite commented on #740
I think I'd like to only have the `0o` notation, as @omeid suggests. I dislike the `0` prefix to mean octal, like in C/Ruby, it's not very intuitive. Right now it's like that because we ported it from Ruby, but we can remove it. Thoughts?

/cc @waj @bcardiff

[2015-06-06 15:04] waterlink commented on #740
+1 from me on leaving only consistent `0o` version

--
Best Regards,
Alexey Fedorov,
Sr Ruby Developer, Clojure Developer, Rust Developer,
+49 15757 486 476

2015-06-06 17:57 GMT+03:00 Ary Borenszweig <notifications@github.com>:

[2015-06-06 17:44] westoque opened #743 "Error building Dockerfile"
[code]

[2015-06-06 23:19] jbye opened #747 "Sleep in Threads does not work"
Crystal 0.7.2 [3034ebb] (Tue May 26 16:35:46 UTC 2015)

Calling `sleep` in Threads does not work w/ Crystal 0.7.x; the thread seem to block forever at the sleep call.

Example code:

[code]

However, running the example code above w/ Crystal 0.6.1 produces the expected output;
[code]

(0.7.2 ; does not work) http://play.crystal-lang.org/#/r/23m
(0.7.1 ; does not work) http://play.crystal-lang.org/

[2015-06-06 23:22] ysbaddaden commented on #747
Duplicate of #722

[2015-06-07 04:58] asterite commented on #747
One thing to add to what @ysbaddaden points out: since we introduced spawn and channels, Thread doesn't make sense anymore. Well, maybe it does, but it doesn't play nicely with blocking IO. Eventually the runtime scheduler will spawn processes in multiple threads. The scheduler will be the one using the Thread class, but not end users.

I guess for now I'll add a comment like "Don't use this class

[2015-06-07 06:29] katlogic opened #748 "Crystal fails to bootstrap on PIE linker setups (Linux x64)"
Currently, bootstrapping crystal can be pretty tricky - it puts too much faith
into its host (linux) environment. On gentoo x64:

[code]

This probably happens because host linker scripts are configured to produce PIE binaries,
but the distributed docker .a dependencies are not PIC and things go boom.

Still, should be fixable by bootstrapping intermediary stage static binary:

[code]

Well, or so

[2015-06-07 06:50] katlogic commented on #686
I'm using statically linked crystal against glibc - the resulting (stripped, not recommended as you lose exception backtraces) binary is 21MB. The benefit of musl is questionable, as largest chunk of the static blo is llvm, ncurses and other dependencies, removing glibc/pthread and other gnu runtime will shed off 3-5MB at most.

[2015-06-07 08:18] ysbaddaden commented on #686
I didn't experiment against musl-libc to distribute a smaller binary, but to be able to use crystal on musl based systems like Alpine; ie. make it more portable, without having to build a static binary on a glibc system and eventually have to use the glibc when I could use musl instead.

[2015-06-07 09:59] katlogic commented on #686
@ysbaddaden: Fair point about Alpine. One could speculate it's related to https://github.com/ivmai/bdwgc/blob/master/dyn_load.c#L55 - a general boehmgc issue with bgc and musl (dyn_load.c is awfuly platform specific regarding dlopen wrappers, and musl is not exactly svr4-compliant in this regard).

If that turns out to be true, either you can recompile libgc with dlopen disabled, or use TinyGC whi

[2015-06-07 13:14] jbye commented on #747
@asterite thanks, I'll go that route

[2015-06-07 13:14] #747 closed

[2015-06-07 16:39] mrjbq7 opened #750 "Improve the Sieve of Eratosthenes"
The homepage has an example of the [Sieve of Eratosthenes](https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes).

Given that Crystal seems interested in performance, I think you should at least change it to follow the "optimized" (start from squares) pseudocode on Wikipedia:

[code]

Obviously there are other faster sieves, bit-arrays to reduce memory usage, iterating over odd numbers only, wheel

[2015-06-07 17:31] kirbyfan64 commented on #750
It also shows off a little more of the language...

[2015-06-07 17:33] mrjbq7 commented on #750
The diff is pretty small:

[code]

[2015-06-07 17:37] asterite commented on #750
Thanks! But just some minutes ago I changed the sample and now it's a small HTTP server. The example was long and hard to read, and maybe this new one is more attractive.

@mrjbq7 A few minutes after I made the change I saw your issue, I didn't change it because of it. Just pure coincidence.

[2015-06-07 17:49] mrjbq7 commented on #750
Hah, nice timing!

One suggestion, if its easy, is to rotate examples on the front page randomly when it is loaded.

Close this issue anytime you want.

[2015-06-07 17:51] ysbaddaden commented on #686
Wow, thanks a lot for detailing how to conduct further research!

[2015-06-07 19:04] kirbyfan64 commented on #750
I hate those rotating examples. That's actually been a major criticism of Nim's website!

[2015-06-07 19:08] mrjbq7 commented on #750
Haha okay :-)

[2015-06-07 19:08] #750 closed

[2015-06-07 21:35] PragTob commented on #167
Hi @booch could you maybe make the list into a check list (e.g. `- [ ]` and `- [x]`) so it is easier to track what has already been done? E.g. I see there's already `before_each`.

Thanks!
Tobi

[2015-06-08 03:25] tomas opened #755 "Ugly exception on String#[](regex, group)"
On Ruby, this returns nil:

`"hello world"[/foo/, 1]`

On Crystal, this is what happens:

`"hello world"[/foo/, 1]`

[code]

Is this the expected behaviour?

(Kudos for the work, by the way!)

[2015-06-08 03:28] asterite commented on #755
Yes, it's expected behavior. Methods that usually return nil on "missing element" in Ruby raise an exception in Crystal. But, we usually provide a "question" method that returns nil in those cases:

[code]

Same goes with:

[code]

Or

[code]

[2015-06-08 03:44] tomas commented on #755
Cool. What's the suggested way of getting an array of matches for a string, then? `#scan`? I like Ruby's `String#[]` because it lets you quickly get a matching value or nil (e.g. for scraping/parsing third party content), e.g.:

[code]

I also noticed that `"hello world"["foo"]` raises a Nil assertion failed exception. What's the proper/quickest way of checking whether a string is contained in ano

[2015-06-08 04:18] datanoise commented on #755
The Ruby's equivalent is:

[code]

if you just want just to check if a substring is included in another:

[code]

[2015-06-08 04:58] tomas commented on #755
Perfect. Thanks for the clarification!

[2015-06-08 04:59] #755 closed

[2015-06-08 09:27] asb opened #758 "[RFC] Consider using a single colon for type declaration"
Currently, `::` is used for type declaration, while `:` is used for type restriction in method arguments and the like. Although I can see an argument that these are subtly separate operations, I also think it's easier for the programmer to remember "if I want to specify a type, use `:`". One of the reasons for using `::` is the potential ambiguity with the ternary operator. I would suggest droppin

[2015-06-08 09:35] vyp commented on #758
If it is dropped, I like the python like secondary variant. But, sorry for being a bit naive, isn't one of the the goals of crystal to have same/very similar syntax to ruby? I am new to crystal, but wouldn't this be a major change? (What other changes are there in crystal so far? I haven't seen any documentation on the differences between ruby and crystal except for https://www.reddit.com/r/crysta

[2015-06-08 10:19] jhass commented on #758
-1

The difference between a restriction and a declaration isn't subtle at all, dropping core syntax like ternary solely by claiming it would be subtle is very unjustified in my opinion.

[2015-06-08 10:37] vyp commented on #758
FWIW to clarify, I am -1 as well.

[2015-06-08 11:14] asb commented on #758
@vyp: the aim of Crystal seems to be to be familiar to Ruby programmers, but multiple statements from @asterite indicate there isn't a desire to be limited by attempting complete Ruby syntax compatibility.

@jhass: There is a difference yes, but does the average programmer need to care about it? Type restriction is introduced at the end of http://crystal-lang.org/docs/syntax_and_semantics/instance

[2015-06-08 11:16] bararchy opened #759 "Socket.read and Socket.read_nonblock doesn't behaves the same"
Code:
[code]

Read:
[code]
Read_Nonblock:
[code]

read behaves almost like a blocking read in that it takes much more time to "let go" of the socket when no more data is coming, read_nonblock prints the data almost instantly.

I have an issue with both when they wont actually read all the available data, which can be seen when connecting to the same server and port using telnet.

[2015-06-08 11:30] datanoise commented on #759
Sockets are already opened with nonblocking mode, so there is not need to use `read_nonblock`.

Your problem is that by calling `io.read(1024)` you are absolutely sure that you can read exactly 1024 bytes from the stream. If you just want to read all available bytes, you'd better use `read(s: Slice(UInt8))` API, which returns the number of bytes read.

Also, inspecting `read_nonblock`, I think it

[2015-06-08 11:32] bararchy commented on #759
@datanoise that makes sense ! I was getting this issue and didn't know how to handle it

[code]

[2015-06-08 11:33] vyp commented on #758
Thanks for the clarification regarding parity with ruby syntax. However, like jhass, I still don't see much of the advantage for what is I consider dropping a major syntax. I don't think it's subtle, and even then, the being guessable issue should become less of an issue the more you use Crystal, I think. Again, this might just be because I am not knowledgable enough in Crystal, so best to wait fo

[2015-06-08 11:55] Vikaton opened #760 "Extending Macros"
I want to propose a more flexible approach of using Macros in Crystal.

Let's take this code for example:
[code]

This returns `true`, but `and(7>5,2<5)` could be used in a different way which is what I'm proposing

[code]

This would also return true.

This is also similar to how Nim templates work.

[code]

[2015-06-08 12:36] jhass commented on #760
What are the rules? You want to allow `argument1 name argument2` for all macros that take two arguments or...?

[2015-06-08 12:52] ysbaddaden commented on #760
Notice the `expr = y and x` of Nim templates, they indicate the rule. The proposed Crystal syntax, however, doesn't define such an expression, which make them impossible to distinguish from regular Crystal macros —unless they are limited to a set of keywords, like the `def x=(value) end` and `def [](key) end` methods.

[2015-06-08 12:58] Vikaton commented on #760
I guess we could use something similar to `macro and(x,y): expr`

[2015-06-08 12:59] asterite commented on #758
@asb From the issue's title it isn't clear to me: do you want to drop the ternary operator, or you want to be able to set types with a single colon? (my guess is the second)

It's true that `:` would bring a grammar ambiguity: in `a ? b : C`, it could be `a ? (b : C) ...` or `a ? (b) : (c)`. That's why we used `::` in the first place (we did use `:` in the beginning but soon found that ambiguity).

[2015-06-08 13:32] asb commented on #758
@asterite you're correct that I don't have a particular reason to want the ternary operator gone other than wanting `:` for type restriction.

I have to say, that to my eyes as a relative newbie to Crystal the second version *does* read easier. I read it as "stream1 is an IO, stream2 is an IO, buf1 is a UINT8 array, ...".

[2015-06-08 14:07] kirbyfan64 commented on #760
Or Haskell backticks for infix operators? Before any macros are expanded, the compiler could rewrite ``a `x` b`` as `x(a, b)`.

[2015-06-08 14:24] jhass commented on #758
But that's the point, `::` is not "is an", it's more, it's "create a of"

[2015-06-08 14:41] asterite commented on #760
But

[code]

is already

[code]

There's no way we can distinguish both cases.

[2015-06-08 14:58] asterite commented on #759
@bararchy What's that aeon server protocol? And why do I get strange symbols when I open this?

http://alteraeon.com:3000/

I'm talking about the ÿûFÿûZ and ÿù ...

[2015-06-08 15:05] datanoise commented on #759
@asterite  It looks like a game for telnet client.
@bararchy I've fixed your client, but removed error handling to simplify. Please check https://gist.github.com/datanoise/6ee434ed397f4e74bfbd

[2015-06-08 15:07] bararchy commented on #759
The server won't respond to http , its a TCP telnet like connection , you should connect to it using a simple TCP socket or telnet
As in telnet alteraeon.com<http://alteraeon.com> 3000, it will send back strings of text .

This is basically a game which is played over the net using telnet or other terminal like clients.

Sent with AquaMail for Android
http://www.aqua-mail.com

On June 8, 2015 5:59

[2015-06-08 15:07] bcardiff commented on #740
+1 for `0o`

[2015-06-08 15:10] datanoise commented on #759
@asterite while playing with this example I ran into the following compiler bug:

Compiling https://gist.github.com/datanoise/dff2c16d1d6d9b3acfb2

[code]

[2015-06-08 16:12] nabeelomer opened #762 "A compiler release for windows"
When are you planning to release a compiler for windows?

[2015-06-08 16:23] Vikaton commented on #760
in this case it would bar(foo,baz)

[2015-06-08 17:02] kirbyfan64 commented on #760
@asterite But I'm referring to using backticks.

[2015-06-08 17:05] asterite commented on #760
@kirbyfan64 Always?

[2015-06-08 17:16] bararchy commented on #759
@datanoise using your example , after pressing a few enters (or any other keys)
I get:

[code]

When I wrap the wirte part with begin\rescue I get this:
code:
[code]
issue:
[code]

[2015-06-08 18:22] kirbyfan64 commented on #760
@kirbyfan64 Wait, there might be a misunderstanding. I'm referring to using backticks to represent an infix operator, e.g. ``a `b` c`` meaning `b(a, c)`.

[2015-06-08 19:07] asterite commented on #760
@kirbyfan64 But backticks are command execution in Crystal (and Ruby).

@Vikaton Any other infix use case? Having `&&` and `and` is redundant, why create new syntax for something that already exists and works well? Users have to learn more for no need.

[2015-06-08 20:32] waterlink commented on #167
@PragTob `before_each` implementation is global currently.

That is because currently there is no scoping of `describe` and `context`, and examples are executed as soon as encountered. Effectively, `describe` and `context` just modify example description prefix and execute their block, and `it` appends last description to example and executes its block. All of them just normal global methods.

Bec

[2015-06-08 21:10] ysbaddaden commented on #167
Just for reference: the describe/before/after/let macros to generate test classes/methods with inheritance are implemented in my [minitest](https://github.com/ysbaddaden/minitest.cr) port. I didn't bench compile time and memory usage thought, but the more classes there are, the slower crystal compilation gets, so I'd expect it to get slower over time with many nested describes and let overrides.

[2015-06-08 21:32] Codcore opened #767 "Strange scope error"
Have such code:
[code]
When running specs, got next error:
[code]
For some weird reason, Crystal determines type of ```cookies_hash = {} of String => String``` as ```Hash(Amethyst::Middleware::String, Amethyst::Middleware::String)```, but I have not such classes! This error appeared while using [this library](https://github.com/Codcore/crystal-mime). You can see full code at separate [branch](http

[2015-06-08 21:57] asb opened #768 "all_spec.cr takes an infeasibly long time to build in --release mode"
Pull request #766 enables passing flags when building the spec target. Although there's no real need to build the all_spec with `--release`, it seemed worth trying anyway. The result for me (core I5-3210M, 16GiB RAM) was a compile time of over 1 hour before my system started hitting the disk like crazy and I had to kill it. The spec suite is only a couple of tens of thousands of lines of code, so

[2015-06-08 22:00] kirbyfan64 commented on #768
To me, it more lies inside the fact that the specs instantiates every single function in the library *and* the compiler.

[2015-06-08 22:07] asb commented on #768
It's definitely a stress test. I'm filing the issue as it seems a reasonable medium-term goal that Crystal can compile its own spec suite in release mode.

[2015-06-08 22:11] barca opened #769 "Rake Build && Jekyll serve gives error"
when running the Parsed haml layout files
Parsed haml include files
Parsed haml index files
rake aborted!
LoadError: cannot load such file -- less
/Users/Tyler-Laptop/Documents/PersonalProject/crystal/Rakefile:44:in `block in <top (required)>'
/Users/Tyler-Laptop/.rvm/gems/ruby-1.9.3-p550/bin/ruby_executable_hooks:15:in `eval'
/Users/Tyler-Laptop/.rvm/gems/ruby-1.9.3-p550/bin/ruby_executable_hooks

[2015-06-08 22:11] #769 closed

[2015-06-08 22:19] asb commented on #569
Other cases warnings would be useful:
* Warning that a certain feature or syntax is deprecated and due to be removed
* Use of unsafe features, e.g. in most code I'd argue it's pretty useful to get a warning if you do something unsafe like:
      str :: String
      puts str

This could be overridden with an attribute.

[2015-06-08 22:34] asterite commented on #768
On my machine parse + type inference + generate llvm IR code takes about 14 seconds for all specs. That isn't much, I think, given that there are **a lot** of specs. Then the bulk of time is spent optimizing LLVM code. I don't know what can be done about that.

One note is that with `--release` we only generate one LLVM module so we can't parallelize those. Maybe we can try parallelizing but maybe

[2015-06-08 22:53] kirbyfan64 commented on #569
@asb Those would probably be very useful, especially the latter.

[2015-06-09 00:13] Vikaton commented on #760
@asterite It's just an option for people who want to extend the language on their own, it's a simple concept and adding flexibility to Crystal is a good thing IMO

[2015-06-09 00:50] will opened #771 "regex: pointer being freed was not allocated"
Ran into this runtime error with this source file
[code]

error on running:
[code]

started down doing what the error said, but figured I'd stop and report it instead :)
[code]

[2015-06-09 01:02] mrtryhard opened #772 "Split a string on matched tokens, but keep the delimiters"
Hi,
I'm trying to split a string on a particular delimiter, but I want to keep the delimiter.
I'm quite new to Ruby-ish ecosystem, so it took me quite  a while to figure few things. However, I still couldn't achieve what I wished for.

Example (taken from http://stackoverflow.com/a/6964207)
[code]
I've tried String#split, but it doesn't allow to keep delimiters (or so it seems, according to source

[2015-06-09 01:16] asterite commented on #771
Oh, I ran into this some days ago. An easy way to reproduce:

[code]

Or:

[code]

I think it happens with regex with unbalanced parentheses (probably brackets too). The first one should be a compile error while the second a runtime error... but I'm not sure why the second isn't triggering, [I though we had the code right for that](https://github.com/manastech/crystal/blob/master/src/regex/regex.c

[2015-06-09 01:22] asterite commented on #772
Oh, I didn't know that in Ruby if the argument given to split is a regex then the groups are returned in the result array as well. I'll do it.

[2015-06-09 01:29] asterite commented on #772
Hmmm... In fact, maybe we can change things from Ruby, a bit. For example say you want to split by `/(foo)+/` but without keeping the delimiter, in Ruby there's no way. So maybe we can add options to these methods.

[code]

What do you think?

/cc @jhass

[2015-06-09 01:34] #771 closed

[2015-06-09 01:44] waj commented on #771
The reason was the same, but raising on different places. The PCRE library was trying to free() some pointers allocated by the garbage collector.

[2015-06-09 01:45] mrtryhard commented on #772
That'd simplify the way to do it, yes. I don't know if it is a common task, but I think doing this would make sense.

[2015-06-09 02:17] netroby opened #773 "Httpserver demo benchmark then stack overflow"
Listening on http://0.0.0.0:8080
Unexpected mark stack overflow
Aborted (core dumped)

The source code is just the documentation:

[code]

Linux tuned

ulimit -SHn 65535

[code]

[2015-06-09 03:53] Codcore commented on #773
It is to many connections you specify for work ```-c 10000```. Try ```-c 100```

[2015-06-09 05:42] netroby commented on #773
I know it . but the Unexpected mark stack overflow should not happened.

[2015-06-09 06:26] ysbaddaden commented on #772
Regular expressions are already telling something, so maybe we don't need to introduce new arguments?

- `/on/` skips the delimiter;
- `/(on)/` injects the delimiter (captured);
- `/(?:on)+/` skips the delimiter (not tested, but expected since it groups but doesn't capture).

[2015-06-09 07:13] bararchy commented on #759
@datanoise , Right now , using the latest fix from @asterite , there is still an issue, even when using your examples, the issue is that the read wont read the all data, here is an example.

Telnet:
![telnet](https://cloud.githubusercontent.com/assets/1631073/8052382/d6927736-0e8f-11e5-8625-634f1767fefc.png)

Code:
![screenshot from 2015-06-09 10-09-22](https://cloud.githubusercontent.com/assets/1

[2015-06-09 07:46] bararchy commented on #759
@datanoise @asterite

I have a ruby example that works, its almost the same:
https://github.com/bararchy/aeon-client/blob/master/aeon-client.rb

The ruby example does read all the lines.

[2015-06-09 07:55] jhass commented on #772
You can do this already http://carc.in/#/r/2ib so maybe we can keep it simple?

[2015-06-09 07:57] jhass commented on #772
Oh and Ruby also has `String#partition`, which while only splitting once, has "keep the delimiter" a lot more obvious in its contract.

[2015-06-09 10:03] bararchy commented on #759
Further testing this thing, this seems to be a buffer issue, when there is another ```print "something"``` after the read part:

[code]
the last line is printed, maybe an IO.flush thingy ?

[2015-06-09 12:05] datanoise commented on #759
@bararchy Ruby's `IO.sync=` has a very overcomplicated implementation, but I agree that it would be nice to have. For your particular case, you can use `print!` instead of `print` to enforce flushing.

[2015-06-09 14:06] asterite commented on #772
@jhass Thanks! Yes, let's keep it simple for now. I have the `include_separator` implementation in a stash in case we want to add it later.

I wonder what's needed for us to start using Stack Overflow... Probably nothing. Maybe we should use the `crystal-lang` tag as there's also `crystal-reports`.

[2015-06-09 14:08] jhass commented on #772
I'd love to get a mod to give use the `crystal` alias though.

[2015-06-09 14:14] ysbaddaden commented on #772
:+1: for a stackoverflow tag

[2015-06-09 14:23] kirbyfan64 commented on #772
I have enough rep to create tags; I just need to find out what question to ask. :)

[2015-06-09 14:25] jhass commented on #772
Going to http://stackoverflow.com/tags?tab=new is not enough?

[2015-06-09 14:32] kirbyfan64 commented on #772
Nevermind; I just tagged the question asking if anyone has tried Crystal.

Behold...the Crystal tag: http://stackoverflow.com/questions/tagged/crystal-lang

Now somebody needs to ask a question on SO and use this tag within six months to prevent it from being deleted...

[2015-06-09 14:33] will commented on #771
It must have been some other issue than unbalanced parens, because with the patch, the regex now works
[code]
so thanks!

[2015-06-09 14:40] waj commented on #773
I cannot reproduce this consistently. It only happened once to me in a VirtualBox VM.
Can you share some of your hardware or VM specs? Which Crystal version are you using? Are you compiling in release mode?

Any other hint you can provide to make it fail more often will be really helpful to solve the issue.

I found this topic that seems to be related: http://www.hpl.hp.com/hosted/linux/mail-archi

[2015-06-09 14:54] asterite commented on #772
@kirbyfan64 Thanks!!

@vyp Thank you too, that'll help spreading that tag in Stack Overflow.

[2015-06-09 15:21] asterite commented on #767
I've been trying to reduce your code but noticed that you sometimes do:

[code]

One of the middleware does `require "mime"`, and that ends up defining `Mime` inside the `Amethyst::Middleware` namespace. Then `mime.cr` requires "json", so all the JSON types end up being defined inside the `Amethyst::Middleware` namespace :-)

One solution, if you want to avoid repeating all the `Amethyst::Middlewa

[2015-06-09 15:29] jhass commented on #767
Didn't we want to get rid of the renamespacing through require?

[2015-06-09 15:36] asterite commented on #767
Yes, I was thinking that maybe we can make `require` always be scoped to the top-level namespace... like in Ruby (I think?).

[2015-06-09 15:40] jhass commented on #767
Yeah, let's do that, I think it comes with fewer surprises.

[2015-06-09 15:40] jhass commented on #767
And actually I wouldn't mind disallowing it anywhere outside the toplevel.

[2015-06-09 16:00] asb commented on #767
If require doesn't do renamespacing then I'd definitely agree disallowing it outside the top level makes most sense. It would be nice to have some way of renamespacing though.

[2015-06-09 16:25] Codcore commented on #767
@asterite thanks for work, got it. So, it is better to avoid of renamespacing? Maybe there can be option to create aliases for namespaces like "Amethyst::Middlleware as AMiddleware``` to don't repeat long prrefixes?

[2015-06-09 16:29] mrtryhard commented on #772
Nice for the SO tag!
@ysbaddaden Indeed, just reading at the Regex is clear to me that'd be what to expect from it.
@jhass Thanks for the link, I'll use this at the moment, although that I feel it seems hacky a bit, but hey, it works :)

Thanks guys, that answered my question!

[2015-06-09 16:40] ysbaddaden commented on #772
The solution from @jhass isn't hacky, it's just a regular expression, but it sure is more complicated than having String#split reinject captured expressions !

[2015-06-09 17:59] kostya opened #776 "iterator#next?"
would be nice to have method which return value or nil (not value | Stop), easier to write loops
[code]

[2015-06-09 18:22] jhass commented on #776
Why not use `Iterator#each` if you want to loop again?

[2015-06-09 18:27] asterite commented on #767
You can use renamespacing, it works. Maybe it's particularly useful with `require "./subdirectory/*"`. Just make sure not to require a library inside those files because it will be scoped inside it.

You can already use an alias: `alias AMiddleware = Amethyst::Middleware` and then use that. But that alias becomes global. I actually don't think it's that terrible to repeat that prefix in five or si

[2015-06-09 18:32] asterite commented on #772
@ysbaddaden Totally forgot about `(?:...)` for not capturing a group.

I think it would be fine then to copy Ruby's semantic. It's a simple change that adds flexibility and makes it easy to keep the delimiter, plus maybe other cases.

[2015-06-09 18:39] #772 closed

[2015-06-09 18:52] Codcore commented on #767
@asterite thank you for help =)

[2015-06-09 19:00] kostya commented on #776
yes, each ok

[2015-06-09 19:00] #776 closed

[2015-06-09 19:26] ysbaddaden commented on #772
sweet!

[2015-06-09 23:24] mrtryhard commented on #772
:+1:

[2015-06-10 00:50] netroby commented on #773
Yes, i am using VirtualBox VM with Ubuntu vivid. the crystal version 0.7.3 , installed via deb repository.

[2015-06-10 02:17] waj opened #780 "[RFC] Autoclosing files"
Currently this crashes very quickly in Crystal, but it works on Ruby:

[code]

The reason: the files are never closed so it eventually hits the system/user limit. In Ruby it doesn't fail because once that happens it performs a garbage collection and tries one more time before raising an exception (https://github.com/ruby/ruby/blob/trunk/io.c#L5451-L5461). The `File#finalizer` will close the file f

[2015-06-10 02:25] vyp commented on #780
Leaning towards option 3 too. However, I remember Ary said he doesn't like warning messages as a solution because they're usually ignored anyway?

Also, option 2 means raise an exception after the second failure correct?

[2015-06-10 06:48] bararchy opened #781 "Regex regression in HEAD ?"
this code: http://carc.in/#/r/2na

On carc produces:

[code]

with HEAD produces:

[code]

[2015-06-10 08:49] jhass commented on #780
I'm leaning towards 1 actually, not closing the file is a clear bug and all languages that automatically close file still strongly

[2015-06-10 08:58] bararchy commented on #781
Maybe related and maybe not, as I continued to work converting the code from Ruby, I got this error message ...

http://carc.in/#/r/2nf

[2015-06-10 13:22] waj commented on #781
The first one seems to be a regresion, that can be also produced with this smaller example:
[code]

The second error seems to be already fixed in HEAD.

[2015-06-10 13:24] #781 closed

[2015-06-10 13:28] waj commented on #773
I still cannot make it fail. Do you always get the error every time you run the test?
How much memory and how many cores do you have assigned to your VM?

[2015-06-10 13:38] asterite commented on #780
I actually prefer 2.

Imagine you want to return a String iterator over the lines of a file, but streaming from disk:

[code]

Now there will be an open file that won't be closed, and can't be closed from outside that method because the File isn't provided. After running the program for a long time (if you invoke that method multiple times) you will get that warning/error if anything but solution

[2015-06-10 13:54] waj commented on #780
Those never closing files are like memory leaks: they might be hard to find.
The example is just a really bad api design, but if we do what Ruby does, the programmer might never realise there is a problem. In a long running process, the number of open files will hit the maximum quite often actually and it's not the check what it's expensive but the full GC call.

[2015-06-10 14:03] waj commented on #780
Also, my point is: if a file is being closed by the finalizer, there is definitely a bad design. If the language and the runtime should be there to make the programmers life easier, then it should warn as soon as possible about the problem. It has the ability to detect it but if it just tries keep the program running it's like hiding the trash under the carpet.

One might argue that this is just e

[2015-06-10 14:08] asterite commented on #780
@waj How do you detect the file that's leaking?

[2015-06-10 14:08] asterite commented on #780
Well, nevermind. Probably just find all `File.new` or `File.open` and trace that :-)

[2015-06-10 14:09] waj commented on #780
We could print the path of the leaked file in the finalizer. That should help a lot.

[2015-06-10 14:13] kirbyfan64 commented on #780
I'm not really a Ruby user too much, but I like the way Python solves it: close it in the finalizer anyway, but add a mechanism for automatic closing:

[code]

It's kind of like an implicit try-finally.

[2015-06-10 14:15] waj commented on #780
@kirbyfan64 In Crystal (and Ruby) the same mechanism is available with block methods:

[code]

The file is automatically closed in this case.

[2015-06-10 14:24] asb commented on #780
In this trivial case, a simple static analysis would show that the file reference doesn't escape the loop and can be stack allocated, so its destructor can be run at the end of the basic block. Is this not currently done, or is it that are destructors only run at the method boundary?

[2015-06-10 14:39] waj commented on #780
It's not currently done. The class instances are always allocated in the heap. In this case the local variable (or the implicit reference) is allocated in the stack, so ideally with escape analysis we could destroy the object and even return the memory space to the heap before the GC runs.

Still that would be an optimisation and I don't think we should relay on such mechanism to release the resou

[2015-06-10 15:55] bararchy opened #783 "Compiler Bug? [file not recognized: File truncated]"
Using HEAD (Crystal 0.7.3 [5c10d5f] (Wed Jun 10 15:46:56 UTC 2015))

code is here: --> https://github.com/bararchy/aeon-client/blob/master/libs/telnet.cr

Error:

[code]

[2015-06-10 16:16] asterite commented on #783
Thanks, I was able to reduce it to this:

[code]

As a workaround you can do:

[code]

[2015-06-10 16:20] bararchy commented on #783
Cool, thanks.
I'll change it now.

[2015-06-10 16:31] vyp commented on #780
I don't know, I'd rather have the compiler give me an error or warning instead. As @waj says:

This way I feel that the programmer's time is saved the most (overall), but I might be biased because if using rust.

[2015-06-10 16:39] asterite commented on #780
@vyp Note that it won't be a compile error, it will be a runtime error

[2015-06-10 16:41] vyp commented on #780
Sorry yes waj mentioned that at the start, hence "leaning".

[2015-06-10 16:42] vyp commented on #780
Oh right, you meant the rust comment is useless. Correct, sorry.

[2015-06-10 16:47] vyp commented on #780
Okay, so what about option 4? Except for jhass, it can do both of what @asterite and @waj wants?

[2015-06-10 17:03] asterite commented on #780
Oh, now that I read everything again, I think I prefer options 3 or 4. I'm not sure which one, having your program print warnings but continue running is strange.

[2015-06-10 17:13] Codcore opened #784 "Crystal bug when creating macro with argument with default value and *args"
http://carc.in/#/r/2r6
[code]
Output:
[code]

[2015-06-10 17:14] vyp commented on #780
Yes exactly, I keep thinking 4 is just too strange/confusing too.

[2015-06-10 17:35] vyp commented on #780
Actually yes, rereading, I don't think @waj would want 4. But just wait for him to respond.

@jhass, isn't 3 also in alignment with your opinion?

[2015-06-10 17:55] jhass commented on #780
So far we're warning free, either you're doing it wrong or you're doing it right in Crystal. I like that.

[2015-06-10 22:31] #783 closed

[2015-06-10 22:31] #784 closed

[2015-06-10 22:33] asterite commented on #783
Note that I fixed the bug involving `$~`. In the next version I'll make `$~` be defined in `String#gsub` (and probably other methods) so in the next-next version you'll be able to use this.

[2015-06-10 23:06] nate commented on #688
[I did this for ruby](https://github.com/igrigorik/agent). `select` is the big wrench in the works, at least when you can't control thread scheduling. It really adds a lot of complication. To make it work I had to enqueue attempted operations (push/pop) on all channels (and when an operation comes in I resolve any enqueued operations waiting on a channel) and only allow one to succeed using a [Onc

[2015-06-10 23:32] kostya opened #785 "bug with right while"
crystal eval 'x = 0; x += 1 while x < 0; p x'
1
expected 0

[2015-06-10 23:42] vyp commented on #780
Ah, didn't know that, thanks.

[2015-06-11 05:34] netroby commented on #773
3GB RAM, 2CPU core.
[code]

[2015-06-11 05:35] netroby commented on #773
Can we using GDB to debug coredump file?

[2015-06-11 05:39] netroby commented on #773
I can easily reproduce it every time

[2015-06-11 05:46] netroby commented on #773
Oh, god , i got a big piece of shit core file

[code]

[2015-06-11 05:47] netroby commented on #773
[code]

[2015-06-11 07:55] bararchy opened #787 "gsub internal loop bug"
This code will compile, and when ran wont end and will take CPU to 100%:

[code]

[2015-06-11 08:12] funny-falcon opened #788 "http example memory leak ???"
I setup crystal 0.7.3 from debian repository.
Then compile "classic" http examle from main page with `crystal build --release http.cr`

[code]

It runs reasonably well under `ab` load and uses 14MB of resident memory.
I didn't shutdown `http`, and leave it idle for a couple of hours.
Then I'd run `ab` again and seen (in the `top) that `http` were using > 200MB of resident memory and 900MB of virtu

[2015-06-11 09:51] bararchy commented on #787
Somne debugging, the issue seems to originate in string.cr, line 951.

the while match loop seems to be looping endlessly
I added BUFEER puts to see what is happening , this seems to be the output:

[code]

[code]

[2015-06-11 13:09] kerkomen commented on #785
The same for `until`:

[code]

It executes the body at least once.

This behavior is documented: [for `while`](http://crystal-lang.org/docs/syntax_and_semantics/while.html), [for `until`](http://crystal-lang.org/docs/syntax_and_semantics/until.html).
There is also [an issue](https://github.com/manastech/crystal/issues/549) about that.

[2015-06-11 13:50] asterite commented on #785
Yes, this is a duplicate.

My vote is to remove `while` and `until` as suffix expressions. I think they are quite confusing and just save a few keystrokes. You can

[2015-06-11 13:56] kirbyfan64 commented on #787
Funny thing, something just like this was recently raised on the LuaJIT mailing list...

[2015-06-11 14:46] #787 closed

[2015-06-11 14:49] asterite commented on #787
@bararchy Thanks for reporting this! It was fun fixing this :-)

There were two issues: the first one is that `gsub` didn't work with empty strings or regexes. Ruby is really amazing, handling all cases perfectly well. Now it works OK and behaves like Ruby.

The second issue is that PCRE doesn't allow null characters in the regex pattern... because when you [compile](https://github.com/manastech/c

[2015-06-11 14:50] asterite commented on #787
@bararchy Next time, if it's not too difficult, please try to reduce the code to the minimum that triggers the bug. The Hash, class variables and the `unless` are just noise for finding the bug. We can usually reduce it from there, but if you can do it before us it saves us a bit of time :-)

[2015-06-12 00:27] netroby commented on #788
This issue may be the same
https://github.com/manastech/crystal/issues/773

[2015-06-12 10:36] funny-falcon commented on #788
And may be not the same, so I created separate.

[2015-06-12 16:12] asterite commented on #788
I wasn't able to reproduce this. I tried on a Mac and on a ubuntu precise64 VM.

[2015-06-12 19:03] aguynamedryan commented on #743
I'm getting the same error.

[2015-06-12 19:16] waj commented on #743
The latest version in Docker registry is quite old. I'll update a new version soon.

[2015-06-12 20:10] aguynamedryan commented on #743
I've created a branch with a new version of the Dockerfile that will update the crystal package on build, however I now get the following error when building: https://gist.github.com/aguynamedryan/2cb2a9f8e7cbf6cd1b75, so I'm not bothering to submit a pull request just yet

[2015-06-13 03:36] Arcnor commented on #324
May I ask what's the status of this? Has anything changed on the latest master that might affect this? I'd really like to try running crystal on iOS / Android :smile:

[2015-06-13 15:25] kostya commented on #785
suffix `while` imho is nice, but for one liners.
`x = 0; x += 1 while x < 0; p x`
1

reads like suffix `if`
`x = 0; x += 1 if x < 0; p x`
0

but result different, this is unexpected for me.

but this:
[code]

and this imho bad:
[code]

[2015-06-13 15:38] jhass commented on #785
Can we continue discussion in #549 so it doesn't get split?

@asterite can you close duplicates and maybe even lock them so discussion focuses in the original?

[2015-06-13 16:32] ysbaddaden commented on #549
Actually, I feel the opposite:

- I like trailing while/until because they spell very nicely, like `work until done` compared to `until done; work; end`
- Crystal's behavior is inconsistent: `work if false` and `work while false` are legitimately expected to behave the same: ie. to never invoke `work` because the condition is false

To be fair, having `begin; end while false` run the body once in

[2015-06-13 16:38] jhass commented on #549
To clarify, I'm with @ysbaddaden here, while I rarely use the modifier while, I use a do-while loop even less in Ruby due to the better alternatives provided in its standard library. So my vote goes for

* Make `begin; expression end while condition` invalid and a parse error.
* Change `expression while condition`s behaviour to never run expression if condition is false initially, that is rewrite

[2015-06-14 04:52] asterite opened #793 "Recursive type expansion bug"
[code]

Or just

[code]

will segfault the compiler with a stack overflow. The compiler should somehow detect this type recursion...

[2015-06-14 09:46] ysbaddaden opened #794 "sleep in corountine hangs forever"
Either I'm missing something, or there is a problem:

[code]

Running this script generates the following output:

[code]

If I remove the call to sleep in the coroutine, then it prints `A` continuously to the screen, but whenever I enable it back, the fiber will never be resumed.

Am I missing something about preventing the process to exit when there are coroutines running?

[2015-06-14 13:16] wmoxam opened #795 "Recursion bug in compiler"
def nil_tree(depth)
        if depth > 0
            [nil_tree(depth - 1), nil_tree(depth - 1)]
        else
            [nil, nil]
        end
    end

    tree = nil_tree(2)

When compiling I get:

    /usr/local/bin/crystal: line 6: 68933 Segmentation fault: 11  "$INSTALL_DIR/embedded/bin/crystal" "$@"

[2015-06-14 13:27] bararchy opened #796 "Inconsistence with >= <="
This is valid:
[code]
this is not:
[code]

this is valid:
[code]
this is not:
[code]

This is inconsistent.

[2015-06-14 13:30] jhass commented on #796
Care to elaborate? How's `operator modifier` being allowed inconsistent with disallowing `modifier operator`?

[2015-06-14 13:34] bararchy commented on #796
well, I expected that the same order of the operator will result in similar behavior
as in
1 >= 2
one is bigger or equal to two.
1 =< 2
one is smaller to equal to two.

it looks the same.

but, because this "rocket" shape => is for hashes and other operators it is not allowed to be used in the mathematical expressions.
So i guessed this one <= wont be used as well (or at least be an alias to =< )

[2015-06-14 13:35] asterite commented on #795
Thank you! Yesterday I also added #793, which is supposedly a reduced case for the above, but we'll see.

[2015-06-14 13:39] asterite commented on #796
Both `=>` and `=<` look weird to me, probably because almost no language uses that (I know [Erlang](http://erlang.org/doc/reference_manual/expressions.html#id78689) has some that always confuse me).

Chances of adding `=>` and `=<` as comparison operators are %0, sorry. There's nothing to win here except having to learn new syntax.

[2015-06-14 13:46] jhass commented on #796
I  don't follow your reasoning

[code]

[2015-06-14 13:48] bararchy commented on #796
@jhass you are right, when saying it it sounds better, when looking at it it looks weird...
It's a nonsense discussion, I also saw that Ruby does the same.

I'll close the issue, ignore it ;)

[2015-06-14 13:48] #796 closed

[2015-06-14 14:43] waj commented on #794
I don't see why you expect the coroutine to continue running. There is no loop in your example.

If I run this:
[code]

I get the expected output:
[code]

[2015-06-14 20:25] ysbaddaden commented on #794
Facepalm... I tried to reduce a failing example where introducing a sleep would hang. Indeed it works, and I can't reproduce the initial problem.

[2015-06-14 20:25] #794 closed

[2015-06-15 00:19] Kentoseth opened #797 "Vote to change the name of "Crystal Language""
Hello there,

I really like the potential of this language.

It seems like 1 of those gems (no pun intended) that has the potential to become a power-house for rapid web/systems development without all the bloat that other modern static languages are giving.

There is just 1 issue for me right now, which is the name "Crystal".

Maybe not now, but when the language does gain steam, people looking f

[2015-06-15 00:33] vyp commented on #797
:-1:

I like crystal because ruby is a gemstone. A "crystal" technically isn't of course, but you get what I mean. Crysp/Crast/Crasp/Crys all suck compared to "Crystal".

The crystal reports thing will become less of an issue with time. Besides, searching for "crystal lang" works anyway for now. Rust doesn't have this search engine problem. Also, just my opinion, but I think it's way too late to c

[2015-06-15 00:42] kirbyfan64 commented on #797
NOOOOOOOOOOOOO!!!!! Crystal is an *awesome* name for a language. Most languages have names that conflict with other stuff anyway (Go - word, Felix - cat, Python - snake).

[2015-06-15 00:44] vyp commented on #797
Oh yeah, and https://github.com/manastech/crystal/issues/684#issuecomment-105060945.

[2015-06-15 02:03] gutenye commented on #797
NO, even the 'go' name works.

[2015-06-15 02:06] stefanpenner commented on #797
-1 the name is fine.

[2015-06-15 02:09] spalladino commented on #797
Pretty much every programming language is named after something else in existence; the few that are not are mostly acronyms, [as you can see for yourself](http://c2.com/cgi/wiki?ProgrammingLanguageNamingPatterns).

(by the way, it was a very pleasant surprise to see Crystal already in that list)

[2015-06-15 04:08] benjreinhart opened #798 "Why does Hash not have a inject/reduce/fold method?"
Sorry if the answer to this question is documented somewhere, but why is there no `inject` method on `Hash`? `Array` has `inject` via `Enumerable`.

I see that I can open hash up and add it, but I'm curious as to why this isn't in the standard lib?

[code]

Also, why does `Hash` not include `Enumerable` like in Ruby?

[2015-06-15 12:39] waj opened #801 "Ambiguity with `self[n]` within tuples"
The result might look unexpected:
[code]

For consistency I think `self[0]` should always be a StaticArray and macro methods should be used to get into the type parameters of the tuple class.

[2015-06-15 12:41] waj commented on #801
Also, this crashes the compiler, but I think it's related:
[code]
[code]

[2015-06-15 13:06] bararchy opened #802 "bugs with *.times do spawn"
this code:
[code]
should output:

[code]

But it wont, is this a bug or do I miss something ?

[2015-06-15 13:12] asterite commented on #802
@bararchy Think of `spawn` as `Thread.new { ... }` without `join`. If you do this in Ruby:

[code]

Maybe you will see a couple of "hi" but the program will exit before, because the main thread exits. With `spawn` it's exactly the same: the main fiber exits before outputting anything.

One way to solve this is:

[code]

But that's of course just a hack. Another solution is to make the main Fiber w

[2015-06-15 16:37] bararchy commented on #802
Thanks, I'll take that into account next time.

[2015-06-15 16:37] #802 closed

[2015-06-15 16:52] bararchy opened #807 "Convert the idea behind Thread pool to Fibers/spawn"
I'm having some hard time learning the idea behind Fibers\coroutines and the implementation in Crystal.

I hope this is the right place to ask this, I'll totally accept a "not here" answer :)

This is my usual way of handling multi-threading in Ruby:

[code]
This way I open a new Thread, usually of a incoming connection or some other thing, add the Thread to a threads array, and then check that I

[2015-06-15 18:17] Kentoseth commented on #797
Well some of the replies are certainly not what I was expecting.

To those that made good points, thank you.

To those that chose to voice your anger/sarcasm and toxic humour at a mere suggestion, I certainly hope you do not become the brotherhood that turns this beautiful language into a toxic community.

Issue closed.

[2015-06-15 18:17] #797 closed

[2015-06-15 18:25] kirbyfan64 commented on #797
I would hardly call this *toxic*. More like *funny sarcasm*. :O

[2015-06-15 18:34] jhass commented on #797
@Kentoseth I hope you don't see us as a toxic community now already and stick to the project nonetheless :)

Maybe just try to put on a different perspective, Crystal had its first popularity spikes now, so it does ring a bell for quite a few people already. It exists as project for over two years now and some are watching it for an equally long time already. I think that some feelings may be a li

[2015-06-15 19:18] ysbaddaden commented on #807
You'll may want to start populating the #crystal-lang tag on stackoverflow.

The example in #802 is a good start. It explains how to spawn coroutines and have some communication throught channels. That being said, in order to keep a pool, you can't just duplicate the way it works for threads: `spawn` doesn't return a coroutine object, and there ain't no way to `join` coroutines.

That being said,

[2015-06-15 19:31] bararchy commented on #807
This looks interesting, I'll open the same question on SO, it's nice to spread to use of it.

[2015-06-15 19:31] #807 closed

[2015-06-15 19:33] kirbyfan64 commented on #807
@bararchy Good! If the tag goes entirely unused for six months, it will be deleted!

[2015-06-15 19:34] bararchy commented on #807
Done --> http://stackoverflow.com/questions/30853566/crystal-convert-the-idea-behind-thread-pool-to-fibers-spawn

[2015-06-16 02:33] waj opened #809 "Compiler crash when using `@type` macro variable in non macro method"
The following code makes no sense but it's the minimal code that reproduces the issue. I found this while coding and forgot to set a method as a `macro def`.

[code]

[2015-06-16 09:21] pyros2097 opened #811 "Integrating h2o Server?"
Is it possible to use the [h2o](https://github.com/h2o/h2o) webserver instead of the default `http/Server`? Would making C bindings to it cause an overhead and reduce its performance?

[2015-06-16 11:56] Codcore opened #812 "Omit curly braces in method call if last argument is a Hash"
Is it possible that someday we can omit curly braces  in method call if last argument is a Hash, like in Ruby? Or this is impossible for some reasons?
[code]

It is pretty cool feature, as it allows to create more clear-looking DSL's

[2015-06-16 12:19] ysbaddaden commented on #812
No. This is due to the way keyword arguments are handled in Crystal. See #322 and #560

[2015-06-16 12:21] Codcore commented on #812
@ysbaddaden Thanks!

[2015-06-16 12:22] #812 closed

[2015-06-16 12:27] Codcore commented on #812
[This link](http://crystal-lang.org/docs/syntax_and_semantics/default_and_named_arguments.html) helped me. It is really better approach then passing Hashes, and code looks clear as well.

[2015-06-16 15:01] lpm11 opened #813 "Passing Slice to BufferedIO#read terminates at 8192nd character"
Hi all,

I'm new to Crystal and I really like it. Great work!

I have a question about BufferedIO. If I call BufferedIO#read without slice, it read whole buffer. On the other hand, passing Slice to BufferedIO#read makes different behavior: terminated at 8192nd character even if I pass an adequate size of Slice (FYI, 8192 is the same as BufferedIO::BUFFER_SIZE).

[code]

May I ask whether it is int

[2015-06-16 15:13] waj commented on #811
C bindings doesn't have any special overhead. At runtime they are just function calls.
The only overhead I can think is every time a string is returned by the library, to use in Crystal an memory allocation and copy is needed.
The `http/server` implementation is pure Crystal so it doesn't have those issues. But that doesn't mean it has to be faster than h2o.

[2015-06-16 16:26] #813 closed

[2015-06-16 16:26] asterite commented on #813
This was definitely something to improve, thank you for letting us know!

[2015-06-16 16:33] #785 closed

[2015-06-16 16:34] asterite commented on #767
I'll close this issue for now. If you want to open an RFC for how `require` should work, please do so :-)

[2015-06-16 16:34] #767 closed

[2015-06-16 16:35] asterite commented on #762
There's currently no one in the core team working on this, sorry. Also read this: https://groups.google.com/forum/?fromgroups#!topic/crystal-lang/grBVugVCHm0

[2015-06-16 16:35] #762 closed

[2015-06-16 16:37] asterite commented on #760
I'll close this for now, all variants of this proposal go against language rules we have.

In my opinion extending the language with arbitrary syntax is not a good thing.

[2015-06-16 16:37] #760 closed

[2015-06-16 16:39] #738 closed

[2015-06-16 16:39] asterite commented on #737
I'll close this. Reopen if you need so.

[2015-06-16 16:39] #737 closed

[2015-06-16 16:40] jhass commented on #140
-1

I think it just doesn't fit the semantics of the language as #767 and similar show, disambiguating which monkey patch should affect what, how which constant should be looked up after namespacing etc while not damaging the open class system is just too hard, for both the compiler but also the user of the language.

I therefore vote to reject this, drop the existing namespacing behaviour that `r

[2015-06-16 16:40] asterite commented on #728
I'll close this, we have `Iterator` for lazy functional programming :-)

Reopen if you need so.

[2015-06-16 16:40] #728 closed

[2015-06-16 16:47] asterite commented on #720
Thanks!

I added this wiki page: https://github.com/manastech/crystal/wiki/All-required-libraries

I also added a link to it here: https://github.com/manastech/crystal/blob/master/Contributing.md

[2015-06-16 16:47] #720 closed

[2015-06-16 16:48] kostya commented on #788
confirm on ubuntu 14.04
i doing some `ab`, after that process have 211100 rss, after 5 minutes of idling, 340032 rss, and growing. strace shows only `epoll_wait(3,`, ltrace too.

[2015-06-16 17:21] Codcore opened #814 "Bug: unsupported restriction: B vs. A+"
Tried make method ```some``` to accept all child classes of ```A```:
[code]
Output:
[code]
What right way is?

[2015-06-16 17:24] asterite commented on #814
Just use `A`. The `+` thing isn't documented and will probably go away, we use it internally for debugging...

Does it work with just `A`?

[2015-06-16 17:35] asterite commented on #690
I'll close this, generics are here to stay.

[2015-06-16 17:35] #690 closed

[2015-06-16 17:41] asterite commented on #684
Do we need this? You can always use the block version of `gsub`: http://play.crystal-lang.org/#/r/3fd

Supporting backreferences will make every gsub with a string call slower because these will have to be scanned.

[2015-06-16 17:42] asterite commented on #677
@bararchy  Can I close this one? It seems the error was because you was missing some static libraries?

[2015-06-16 17:48] asterite commented on #664
@bararchy Do you get this error when using https://github.com/datanoise/openssl.cr ? Because if not, we can close this and it will be fixed once we merge that.

[2015-06-16 17:48] asterite commented on #663
Is it in https://github.com/datanoise/openssl.cr ? If so, we can close this.

[2015-06-16 17:50] asterite commented on #635
@kolyan1981by Was you able to finally build it? Was it a memory issue?

[2015-06-16 17:50] Codcore commented on #814
@asterite yes, it works fine. I'm closing the issue?

[2015-06-16 17:51] asterite commented on #814
I'll close it. Thanks!

[2015-06-16 17:51] #814 closed

[2015-06-16 17:52] jhass commented on #635
In any case I setup a binary repository for Archlinux, see https://wiki.archlinux.org/index.php/Crystal

I think we can close this.

[2015-06-16 17:53] asterite commented on #611
@Vikaton Did you figure what was the problem?

[2015-06-16 17:55] asterite commented on #593
We are at a point where compatibility with Ruby is very, very far away. Some of the standard library looks like Ruby but a lot does not. There's also the thing about generic types (which go beyond just Array and Hash), the way iterators work (`[1, 2, 3].each.map { ... }`  already work differently), the `[]?`, etc. Too many differences...

So I'll close this issue for now.

[2015-06-16 17:55] #593 closed

[2015-06-16 17:55] Vikaton commented on #611
I did not, because I got a new box and it worked just fine, I think it may be just a memory issue

[2015-06-16 17:59] bararchy commented on #677
yeah , this can be closed :)

[2015-06-16 18:01] bararchy commented on #664
this was reported against crystal , so it can be closed .
I'm working wit @datanoise repo for now.

[2015-06-16 18:01] asterite commented on #561
@will Can I close this? I'd like to keep the language small, the case where you need more than one proc is pretty rare so probably doesn't deserve a whole new syntax.

[2015-06-16 18:02] bararchy commented on #663
reported against crystal , can be closed.

[2015-06-16 18:04] asterite commented on #544
@alex-fedorov Could you confirm if this was because of the buggy llvm version?

[2015-06-16 18:05] asterite commented on #543
I don't think we'd like to inherit primitive types. There's also the question about how to create an instance of them, because right now the only way it through literals...

[2015-06-16 18:06] asterite commented on #522
I'll close this, you have many answers here plus some benchmarks in the wild (or benchmarks you can do)

[2015-06-16 18:06] #522 closed

[2015-06-16 18:06] asterite commented on #516
I'll close this, no compatibility now or ever.

[2015-06-16 18:06] #516 closed

[2015-06-16 18:07] asterite commented on #508
I'll close this. Using things like JNI extensions or Ruby extensions in Crystal isn't its purpose for now because of it having a GC. There's also the thing that every time you compile an app we assign potentially different IDs to types, so different JNI/Ruby extensions won't be compatible... at least not now.

[2015-06-16 18:07] #508 closed

[2015-06-16 18:08] asterite commented on #572
I'll close this, it's fixed already.

[2015-06-16 18:08] #572 closed

[2015-06-16 18:08] will commented on #561
Yeah sounds good.

[2015-06-16 18:08] #561 closed

[2015-06-16 18:09] asterite commented on #497
Right now `sum` returns the correct type after we added `T.zero` and others, so I'll close this. You still have to use the correct type (BigInt, Float32, etc.) though!

[2015-06-16 18:09] #497 closed

[2015-06-16 18:10] asterite commented on #573
@ssvb Any other way to implement this with better performance?

I think that if `shift is your bottleneck you should use another datastructure, maybe a linked list, circular buffer, etc. (all of which don't exist yet, but could)

[2015-06-16 18:12] asterite commented on #483
This is already implemented :-)

[2015-06-16 18:12] #483 closed

[2015-06-16 18:12] asterite commented on #468
If you want to add `host!`, etc., please send a separate pull request. I'll close this issue for now.

[2015-06-16 18:12] #468 closed

[2015-06-16 18:17] asterite commented on #426
You can also do:

[code]

[2015-06-16 18:17] #426 closed

[2015-06-16 18:20] asterite commented on #421
I'll close this, this is expected behaviour/workflow.

[2015-06-16 18:20] #421 closed

[2015-06-16 18:22] asterite commented on #377
It's gone, so I'm closing this.

[2015-06-16 18:22] #377 closed

[2015-06-16 18:23] asterite commented on #322
I'll close this, we actually like to see an explicit Hash instantiation there, and to discourage using a Hash as keyword arguments (it's very inefficient).

[2015-06-16 18:23] #322 closed

[2015-06-16 18:25] asterite commented on #312
I'll close this, the question was answered (I believe) :-)

[2015-06-16 18:25] #312 closed

[2015-06-16 18:26] asterite commented on #304
The `initialize` difference is expected behaviour, so I'll close this.

[2015-06-16 18:26] #304 closed

[2015-06-16 18:28] asterite commented on #265
I'll close this for now, reopening types works as expected and there's no need to redeclare the supertype.

[2015-06-16 18:28] #265 closed

[2015-06-16 18:30] kirbyfan64 commented on #573
@asterite There are a few good ones [here](http://stackoverflow.com/questions/876293/fastest-algorithm-for-circle-shift-n-sized-array-for-m-position), but they're still all O(n). Main thing I'm seeing is that [this is probably O(n\*2)](https://github.com/manastech/crystal/blob/master/src/array.cr#L816).

[2015-06-16 18:31] asterite commented on #264
I finally chose a small snippet for an HTTP server. I think doing web stuff is pretty common these days so that's something "nice" to have. And it's pretty short, so you get to see the look and feel without having to read too much.

So I'll close tihs.

[2015-06-16 18:31] #264 closed

[2015-06-16 18:32] asterite commented on #263
We can always have an `inmmutable datastructures` library if you want to.

So I'll close this.

[2015-06-16 18:32] #263 closed

[2015-06-16 18:33] asterite commented on #241
I think this isn't feasible right now, and because we have a GC it's less than ideal, so I'll close this.

[2015-06-16 18:33] #241 closed

[2015-06-16 18:33] asterite commented on #212
This was actually because the data was mixing under the hood. But this is "fine" because we are using `buffer`, which is unsafe, so we are dealing with unsafe code...

[2015-06-16 18:33] #212 closed

[2015-06-16 18:34] asterite commented on #206
I don't think we'll improve the logic for class variables, so I'll close this. You can always use the usual approach to deal with nil (try, not_nil!, if, etc.)

[2015-06-16 18:34] #206 closed

[2015-06-16 18:36] asterite commented on #205
I'll close this, this is really old. Class variables work as expected, they are not shared by subtypes.

[2015-06-16 18:36] #205 closed

[2015-06-16 18:40] asterite commented on #127
I just tried a loop that opens a DB, executes a query and closes it, using [this library](https://github.com/manastech/crystal-sqlite3) and there's no memory leak. If you find a memory leak that we can reproduce (like [this one](https://github.com/manastech/crystal/issues/788)), please let us know.

[2015-06-16 18:40] #127 closed

[2015-06-16 18:42] asterite commented on #24
I think Crystal is more intended for creating applications. It would be really nice to do really low-level stuff, but as time passes it's becoming hard (we have a GC, spawn and channels, etc.). So I'll close this for now.

[2015-06-16 18:42] #24 closed

[2015-06-16 18:46] asterite opened #815 "Crash when casting to Object"
[code]

[2015-06-16 18:48] asterite opened #816 "Small parser bug"
This should work (like it does in Ruby):

[code]

[2015-06-16 18:48] asterite opened #817 "Parser error when using __DIR__"
This should work:

[code]

[2015-06-16 19:00] #663 closed

[2015-06-16 19:00] #664 closed

[2015-06-16 19:00] #677 closed

[2015-06-16 19:01] asterite commented on #611
Good. I'll close this for now (because we couldn't reproduce it).

[2015-06-16 19:01] #611 closed

[2015-06-16 19:01] asterite commented on #635
@jhass Good, thanks

[2015-06-16 19:01] #635 closed

[2015-06-16 19:12] asterite commented on #573
@kirbyfan64 Why? I think that line should be O(n), with "n" being "n".

[2015-06-16 19:41] ysbaddaden commented on #684
I got hit with missing backreferences in gsub today. It's an habit and I think it's easier to read for simple replacements. Also, the block form isn't available in macros, yet.

I guess it depends on how much slower it would be.

[2015-06-16 19:49] kirbyfan64 commented on #573
@asterite How I understood the code is:

- Create a new array. O(1).
- For each element up to `n`, initialize `ary`. O(n).
- Move the buffer via `move_from`. This is usually O(n) (`memmove` is O(n), and [this is definitely O(n)](https://github.com/manastech/crystal/blob/master/src/pointer.cr#L183); not sure about `copy_to`).

O(n) + O(n) = O(n\*2). Each byte in the array is accessed twice: once fo

[2015-06-16 19:51] asterite commented on #573
@kirbyfan64 Oh, sorry, I read it as `O(n^2)`, my mistake.

[2015-06-16 19:57] kirbyfan64 commented on #684
Why not used a named argument? That way, the normal case won't really be slowed down any, but passing `true` to the argument would cause the string to be scanned for backrefs.

[2015-06-16 20:02] waj commented on #573
O(n) and O(n*2) are the same thing (https://en.wikipedia.org/wiki/Big_O_notation)

The current implementation is actually O(n) where n is the length of the array (not the argument) because it always have to copy `n` values to the new array and move the remaining `length - n` elements in place.

Performance improvements probably can be made using low level functions to move many elements at once, b

[2015-06-16 20:35] #816 closed

[2015-06-16 20:35] #817 closed

[2015-06-16 20:38] kirbyfan64 commented on #573
I have created a marginally faster version:

[code]

Instead of initializing `ary` with the elements, looping over each one individually, this version can call `memmove` with some data types. Using this test program:

[code]

my version is about 0.05-0.1s faster. Seems marginal, but it's something.

Here's a diff:

[code]

[2015-06-16 20:40] ysbaddaden commented on #140
-1 for me too.

I stand with @jhass. I vote for require to always be global, to avoid confusion and inconsistencies. When I open a file, I want to see the actual namespaces and classes when I'll require it, either directly or throught another require. Non global requires may only make sense within ifdef or maybe inside macros.

BTW: refinements in Ruby have been there for 2 years. I feel that nobo

[2015-06-16 20:42] waj commented on #573
Don't you have to populate `ary` before moving the `@buffer` contents? Please, make sure the specs are still passing and then send a pull request ;-)

[2015-06-16 20:45] #815 closed

[2015-06-16 20:46] PragTob commented on #758
For what it's worth, I'd be glad to see crystal drop the ternary operator for whatever reason. To me it's construct with bad readability built-in - a simple if/else is enough imo.

[2015-06-16 20:47] kirbyfan64 commented on #573
Whoops. Fixed. Still slightly faster!

Will do!

[2015-06-16 20:50] deathbeam opened #818 "Installing on Lubuntu (and Ubuntu in general)"
So, first, I want to introduce myselft. My name is Thomas and this project looks super interesting to me. I am right now working on game engine in Java, but as I saw this language and because I simply love style of Ruby, I decided that I will maybe switch to Crystal (currently using Java + C + LuaJIT in my engine).

And now, actual issue. I am running latest Lubuntu 15.04. I tried to follow this [

[2015-06-16 20:53] deathbeam commented on #140
+1 I second this as I am coming here from Lua background, which had this system for globals from requires before, but now it is deprecated. What about syntax like this:

[code]

So it will require it as alias but it will still have Ruby-styled principe for globals from requires.

[2015-06-16 20:58] jhass commented on #140
Side note: Refinements do change the global view but localize that change to a single file, that's vastly different from changing the namespace of things and something I wouldn't oppose.

[2015-06-16 21:02] ysbaddaden commented on #818
I don't think there are packages for vivid but only for precise and trusty. What release does the apt repository in `/etc/apt/sourcea.list.d/` points to?

[2015-06-16 21:04] bararchy commented on #818
1) make sure you did a full apt-get update.

2) you can just download the deb package and install it manually with dpkg -i crystal.deb

[2015-06-16 21:06] kostya commented on #818
i usually download from here, unpack, and add to PATH bin dir. works fine.

[2015-06-16 21:08] deathbeam commented on #818
@ysbaddaden I have there crystal.list files with contents:

[code]

@bararchy
1) I did
2) Okay then, I can live with it :smile:

[2015-06-16 21:09] #818 closed

[2015-06-16 21:26] PragTob opened #820 "Recognize nil? as an is_a? ::Nil type check?"
Hi everyone,

I don't know if this is possible - I was just wondering if for type checking purposes it was possible to have `.nil?` have the same effect as `.is_a?(::Nil)`.

Point in case:

Given this `Option` class:

[code]

I want both

[code]

and

[code]

to compile. Currently only the latter compiles while the first one gives a `Nil` trace :)

[2015-06-16 21:29] jhass commented on #820
It's worth noting that the following program is usually equivalent:

[code]

As well as
[code]

[2015-06-16 21:35] trans commented on #322
@waterlink Can you direct me to any tutorials for this?

[2015-06-16 21:36] bcardiff commented on #820
@PragTob Since each class may define `#nil?`, is seems not feasible right now to make the type inference narrow the type of the receiver object to not be nil.

The logic is wired to `#is_a?` and the `if` @jhass shows. For now that is the way it's supported.

[2015-06-16 21:38] PragTob commented on #820
ah sure how could I forget about `if result` - I'm just so used to `if @result` but that doesn't work in crystal that I completely let it go :)

It's a super minor thing then - do we want to keep the issue open for further thoughts of maybe doing it in the future far ahead or rather close it?

[2015-06-16 21:43] asterite commented on #797
@Kentoseth To add a bit more to what @jhass says, I think the answer would have been "no" by the majority of us. This probably isn't a pleasant answer for you, so one alternative is to add a joke or some humor to add. I don't think there were bad intentions here. Also, I always try to think there never are bad intention on internet comments: it's really hard to know someone's mood without the voic

[2015-06-16 21:48] bcardiff commented on #820
This keeps coming from time to time. Rubyist are used to `#nil?` unless either that method is fixed on the compiler it seems unlikely to be supported for type restriction.

I think we can close this issue for now.

Thanks!

[2015-06-16 21:52] asterite commented on #820
I think we can close it. If you see `@jhass` alternative solutions, they are all shorter than using `.nil?`: less to type, less to read. Not having `nil?` forces you to write a shorter solution, and I think that's something good (and makes code consistent between programmers).

[2015-06-16 21:52] #820 closed

[2015-06-17 00:23] netroby commented on #788
Thanks @kostya

[2015-06-17 00:28] lpm11 commented on #813
Great! Many thanks!

[2015-06-17 03:44] vyp commented on #758
Think the title might need to be changed, @asb says it's not the ternary operator specifically, but to use a single colon for type declaration.

Because as @asterite says:

could have both.

On topic, I still agree with @asterite though that two colons are easier to read because it is a declaration.

[2015-06-17 07:16] ysbaddaden opened #821 "Flaky type inference when macro within {{ yield }} macro returns early"
[code]

There are many things happening here, and I think I abused macros quite a bit. Yet, `me` should actually return `:pass` but since the generated method returns a `nil`, Crystal expects the return value to be a Nil. From this example it is very easy to generate segfaults (try to `puts "never reached"` before `nil`).

Workarounds:

- return from the block itself, so Crystal will infer from th

[2015-06-17 10:15] pyros2097 opened #822 "Using HTTP Client?"
I'm trying to use the http/client library any running into errors?
[code]
And I'm getting these errors,
[code]

If  I get this working. I'll try adding some docs for it :smile:

[2015-06-17 10:40] 907th commented on #265
@asterite Ok. But does Crystal supports const-autoloading/const_missing?

I just want you to understand what the proposal is. There is difference between 'opening a class the first time' (aka class declaration/creation/etc) and 'reopening class'. If your language supports const autoloading you will never be sure in which order classes are loaded. So you will never be sure what happens first - clas

[2015-06-17 12:57] asterite commented on #822
Hi!

I made a small fix for this, it now raises an exception with "unexpected end of http response".

The problem with your code is that you are trying to connect to https via the port 80, but it should be 443. If you try that in a browser (https://playlyfe.com:80) you'll get an error too.

The solution is to use named arguments:

[code]

Please close if this works for you. Thanks!

[2015-06-17 13:43] asterite commented on #821
@ysbaddaden Thanks! This is definitely a bug. I was able to reduce it to this:

[code]

Note that this works well when not using a macro:

[code]

On further investigation, if you do `p typeof(me)` at the end of each example you'll see the first one prints `(Symbol | Nil)` while the second one prints `Symbol`.

Luckily the fix was really easy. I'll explain the problem (why it fails because of the

[2015-06-17 13:58] asterite commented on #811
I think the current HTTP Server (written in Crystal) is pretty fast. As @waj says, it's probably not the fastest one but we can always optimize it later. Having it written in pure Crystal means the code is easier to understand (maybe), we need less dependencies (I see h2o uses libuv) and integrates nicely with the rest of the standard library (we have HTTP::Request, URI, etc.).

@pyros2097 Can I c

[2015-06-17 13:58] ysbaddaden commented on #821
Thanks! Great explanation and quick fix, as always.

[2015-06-17 14:03] asterite commented on #798
Hi @benjreinhart,

It's because `Hash` is not `Enumerable` in Crystal.

The main limitation right now is that Ruby autoexpands multiple yield values. `Hash#each` yields two things, a key and a value, but our `Enumerable` only expects one value.

For now you can do this:

[code]

By invoking `Hash#each` you get an [Iterator](http://crystal-lang.org/api/index.html#http%3A//crystal-lang.org/api/Itera

[2015-06-17 14:05] #798 closed

[2015-06-17 14:06] asterite commented on #788
Yesterday @waj was able to reproduce the problem. If I understood correctly, the problem is that each `spawn` calls `malloc` to allocate the Fiber's stack and the OS assigns that memory to the process. Eventually the process is given to the process and it starts to go up (as far as I understood). One solution would be to use `mmap`, but that's all I know for now :-)

[2015-06-17 14:08] asterite commented on #710
@kirbyfan64 Sorry, but most of the snippets don't compile. For example `g n-1` doesn't compile, to invoke a Proc you need to do `g.call(n-1)`.

We discussed this with @waj some days ago, we'll probably need some keyword to refer to the current Proc (other than `self`, of course) to implement this, but I don't think this is something that's really useful, you can always workaround it with other sol

[2015-06-17 14:11] waj commented on #788
I was able to reproduce the problem with just this small C code:

[code]

Seems like the OS keeps assigning memory pages before the process actually uses the blocks.
I also tried with mmap already but with the same behaviour.

[2015-06-17 14:13] vendethiel commented on #710
(proposed: clojure's `recur`)

[2015-06-17 15:15] BlaXpirit opened #823 "Wrong assumptions about C types"
In Crystal's codebase wrong assumptions are made about C types. The type `int` is just mapped as `Int32`, etc. The same assumptions are recommended in the documentation (introduction).

Why am I saying this is wrong? There are very few, if any, C types that have their exact byte size specified in the standard.
[What does the C++ standard state the size of int, long type to be?](http://stackoverflo

[2015-06-17 15:18] #676 closed

[2015-06-17 15:19] asterite commented on #676
@ujifgc I changed it to use the `.crystal` directory, which we are already using for temporary files. To test this you'll have to wait until the next release or [compile a compiler](https://github.com/manastech/crystal/blob/master/Contributing.md#user-content-contributing-to-the-compiler-itself). Please reopen if this didn't work for you or there's something missing. Thanks!

[2015-06-17 15:36] kirbyfan64 commented on #823
There's a worse example: `getchar`, which returns an `int`, is set to [return a char](https://github.com/manastech/crystal/blob/master/src/io.cr#L44).

[2015-06-17 15:40] BlaXpirit commented on #823
You may think, why doesn't everything fall apart when things like this are used? Well... one function argument (not sure if last one or first one) is "allowed" to have wrong size. Same position in stack, little-endian architecture...

[2015-06-17 15:41] asterite commented on #823
I agree. We could have top-level aliases like `CInt`, `CChar`, `CLong`, etc., and even `CString` (aliased to CChar\* or just UInt8\*). We can mention them in the [C bindings](http://crystal-lang.org/docs/syntax_and_semantics/c_bindings/index.html) docs, and of course use them in the standard library. And as a plus, like @BlaXpirit says, it will make it easier to write C bindings because one wouldn

[2015-06-17 15:45] asterite commented on #823
Yes, like the `getchar` mapping. I think that's a leftover from early days, I searched its uses and it's not used at all so we could remove it (and also putchar).

[2015-06-17 15:47] jhass commented on #823
I'm not sure I'd introduce them to the toplevel, I wouldn't mind having to write `LibC::Int`, `LibC::SizeT` etc, after all it's intended for bindings only.

[2015-06-17 15:50] vyp commented on #823
+1 for me. I also agree with @jhass too.

[2015-06-17 16:56] bcardiff commented on #823
+1

not polluting the toplevel seems right, yet, I would allow just `Int` `SizeT` inside a `lib` declaration.

May be we should avoid other types in a `lib` actually. It seems that every desired type used should be this C built-in types or declared in another `lib`.

[2015-06-18 03:36] waj commented on #788
I reopen this issue because I'd like you guys to test this change

[2015-06-18 04:27] pyros2097 commented on #811
@asterite Yeah. If I get some time I'll try to create some bindings and benchmark it and see if we can make some performance improvements in the standard one. Less dependencies is always a lot better.

[2015-06-18 04:27] #811 closed

[2015-06-18 05:01] pyros2097 commented on #822
Yes it works. Thanks. Now to port [playlyfe-ruby-sdk](https://github.com/playlyfe/playlyfe-ruby-sdk) to [playlyfe-crystal-sdk](https://github.com/pyros2097/playlyfe-crystal-sdk).

[2015-06-18 05:01] #822 closed

[2015-06-18 08:49] ysbaddaden opened #824 "compiler error: missing hash value: "$~""
I tried to test [artanis](https:/github.com/ysbaddaden/artanis) against crystal/master but the compiler started failing:

[code]

Git bisect outlined commit 46d71cc1fc5447bdacba331c09b18b0dff48a6e2

I identified these 3 lines as the initial points of failure (an endless while, a String#match call + break, in macros):
- https://github.com/ysbaddaden/artanis/blob/master/src/application.cr#L60
- http

[2015-06-18 10:04] bararchy commented on #824
It sounds something like this: https://github.com/manastech/crystal/issues/787

[2015-06-18 11:13] benoist opened #825 "Support for SliceIO"
Hey guys,

A few days ago we talked about support for SliceIO. Is this still a useful addition to the standard lib?

Cheers,
Benoist

[2015-06-18 11:32] jhass opened #826 "Macro defined macro generates temp var"
[code]

[code]

[2015-06-18 13:38] kostya commented on #788
seems fixed, memory now 45~60Mb

[2015-06-18 14:43] jhass opened #827 "Disallow = as method name"
[code]

Should be a syntax error, else people get confused and think they can overload assignment.

[2015-06-18 15:48] #824 closed

[2015-06-18 15:48] #826 closed

[2015-06-18 15:48] #827 closed

[2015-06-18 16:39] asterite opened #828 "typeof assignment makes a program crash"
[code]

Here the type of a is Int32, but the type inference incorrectly things that after the "typeof" the variable is a String.

[2015-06-18 16:48] #828 closed

[2015-06-19 06:44] sergey-kucher opened #829 "Plans about WebAssembly"
Do you have any plans about [WebAssembly](http://techcrunch.com/2015/06/17/google-microsoft-mozilla-and-others-team-up-to-launch-webassembly-a-new-binary-format-for-the-web) support?

[2015-06-19 07:04] vendethiel commented on #829
LLVM already has a branch for that, so Crystal should be covered already ;)

[2015-06-19 10:36] daneb commented on #725
Ruby supports "for" and I understand we have "iterators". Are we making an intentional design decision to not support it?

[2015-06-19 10:42] daneb opened #830 ""For" Loop support"
Hi

I am well aware of https://github.com/manastech/crystal/issues/725#issuecomment-107708015 where "for" is proposed and it's suggested that "iterators" are sufficient.

Ruby does support "for" and it's referenced in benchmark.rb as part of stdlib documentation.

So my question - are we intentionally choosing not to support "for" as a design decision?
I do see the keyword in lexer_spec.cr (line 1

[2015-06-19 11:23] jhass commented on #830
Already answered in IRC but for completeness here too.

`for` is redundant to internal iterators, `Iterator` etc. It's since long discouraged in the Ruby community due to its redundancy and unexpected scoping behaviour. In fact it calls `.each` underneath in Ruby and is slightly slower in than using `.each` directly in Ruby. A doc patch towards Ruby to remove the mention in its stdlib documentatio

[2015-06-19 11:44] ysbaddaden commented on #830
Actually, `for` is available in macros (hence why the keyword is defined):

[code]

[2015-06-19 12:03] daneb commented on #830
Thank you very much @jhass

[2015-06-19 12:03] #830 closed

[2015-06-20 22:07] ysbaddaden commented on #788
I tested Artanis, which had the memory leak under 0.7.3, and this patch fixed it! Memory goes up, then it's regularly being reclaimed by the OS.

[2015-06-20 22:18] ysbaddaden opened #834 "HTTP::Server: performance drop + listening socket gets closed"
While testing artanis for #788 (fixed) with wrk, I noticed 2 problems:

- a huge performance drop: from 70k/s requests to merely 23k/s.
- the listening TCP socket being closed :fearful:

The app won't stop or fail or raise, but the listening socket gets closed. wrk can't connect anymore and lsof won't list the socket after the first wrk run. I can reproduce this every time on my ubuntu trusty lapt

[2015-06-20 23:55] dhruvrajvanshi opened #835 "Unimplemented abstract methods don't raise error unless called"
[code]
Compiles just fine even though B doesn't implement A's abstract method a. The error only shows up when you call a on B's instance. In my opinion, when a class inherits from another class, it should be obliged to implement it's methods. The current behavior may lead to bugs going undetected especially for libraries (where methods may not be called on every object in the library itself).
I kn

[2015-06-21 00:25] #773 closed

[2015-06-21 06:27] zeiv commented on #324
Any chance you could post that binary, @ssvb?  I haven't had much luck with with this, at least working with version 0.7.3 of the compiler. LLVM is giving me an error along the lines of "target triple not recognized" when trying to cross-compile, even though I'm using the one `llc -version` on my ARM machine gave me: `arm-unknown-linux-gnueabihf`

[2015-06-21 07:09] ssvb commented on #324
@Arcnor iOS and Android requires a little bit more work after the regular GNU/Linux ARM is supported. And we still need to get exceptions handling working properly and find the root cause of the non-optimized build code generation issue. The current status is described in the comments above. I did not have time to work on fixing these issues yet.

@zeiv About this "target triple not recognized" pr

[2015-06-21 09:27] bararchy opened #836 "Compiler Crash using =~"
Code:
http://carc.in/#/r/48o
[code]
Produces:
[code]

Also in a bigger project including this code I got the famous "you found a bug in crystal etc.. etc.."

[2015-06-21 15:23] waj commented on #834
Can you try with a889171? It should fix the closed socket. The performance dropdown is due to the socket being not buffered by default after the IO refactor. It should be fixed for 0.7.4 anyway.

[2015-06-21 15:24] #788 closed

[2015-06-21 15:26] waj commented on #773
@netroby can you check if f54463d fixes the issue for you?

[2015-06-21 16:44] waj commented on #834
I reopen until we do more testing

[2015-06-21 16:59] bararchy opened #837 "Can't build HEAD on Arch Linux"
[code]

[2015-06-21 17:03] jhass commented on #837
Confirmed

[code]

[2015-06-21 17:03] Codcore commented on #837
└─[$] <git:(master)> make
CRYSTAL_CONFIG_PATH=`pwd`/src ./bin/crystal build  -o .build/crystal src/compiler/crystal.cr
.crystal//home/kavachaj/crystal/crystal/src/ecr/process.cr/main.o: In function `~fun_literal_1':
main_module:(.text+0xf2e): undefined reference to `GC_push_all_eager'
main_module:(.text+0xf40): undefined reference to `GC_push_all_eager'
collect2: error: ld returned 1 exit status
E

[2015-06-21 17:05] jhass commented on #837
[code]

[2015-06-21 17:21] vyp commented on #837
Can confirm with this:

    ./bin/crystal build --release  -o .build/crystal src/compiler/crystal.cr
    .crystal//home/rws/dl/aur/crystal-git/src/crystal/src/compiler/crystal.cr/main.o: In function `~fun_literal_1':
    main_module:(.text+0xfc9): undefined reference to `GC_push_all_eager'
    main_module:(.text+0xfd6): undefined reference to `GC_push_all_eager'
    collect2: error: ld returned 1

[2015-06-21 18:00] jhass commented on #837
For the Archlinux people, the workaround goes as follows:

[code]

[2015-06-21 18:01] Codcore commented on #837
@jhass thanks!

[2015-06-21 18:03] Codcore commented on #837
@jhass
[code]

[2015-06-21 18:06] jhass commented on #837
Weird, are you sure your yaourt & package-query is on the latest version? You might also need to install abs and run `abs` as root, I don't remember how exactly yaourt fetches the official source packages.

[2015-06-21 18:09] waj commented on #834
@ysbaddaden can you try again? a9b00cc should fix the closed socket issue and 82e63bc should improve the performance

[2015-06-21 18:12] Codcore commented on #837
@jhass ```yaourt yaourt-1.5-1.3```, ```package-query-1.5-1```

[2015-06-21 18:14] jhass commented on #837
yaourt is at 1.6-1, package-query is at 1.6.2-1

[2015-06-21 18:16] vyp commented on #837
@Codcore also just manually https://projects.archlinux.org/svntogit/packages.git/tree/trunk?h=packages/gc?

[2015-06-21 18:47] zeiv commented on #324
Thanks for the update, ssvb.  You were right, I was missing the ARM libraries and tools.  I installed `gcc-arm-linux-gnueabihf binutils-arm-linux-gnueabihf libgcc1-armhf-cross libsfgcc1-armhf-cross libstdc++6-armhf-cross libstdc++6-4.7-dev-armhf-cross linux-libc-dev-armhf-cross libc6-armhf-cross libc6-dev-armhf-cross` and was able to "succesfully" compile a hello world program in C for ARM (it gav

[2015-06-21 18:51] ysbaddaden commented on #834
I confirm that both are fixed. The socket is kept open, and I even get better benchmarks (80k requests/s)! And memory is kept low & reclaimed. HTTP::Server rocks :-)

[2015-06-21 18:51] #834 closed

[2015-06-21 19:57] waj commented on #834
Thanks @ysbaddaden! And we still have more improvements coming, yay! ;-)

[2015-06-21 20:00] Codcore commented on #834
@waj nice work, thanks!

[2015-06-21 20:26] asterite commented on #835
This is a valid enhancement.

We originally introduced abstract methods because in Ruby there's no such thing and people either: 1. document them in comments but it's not very nice or 2. implement them and raise "this method must be implemented" or a variant of that. In Ruby it doesn't matter much because it's always a runtime error. In Crystal we wanted to standarize this, so you document methods

[2015-06-21 20:36] #836 closed

[2015-06-21 20:37] asterite commented on #836
@bararchy Turns out the generated program had a stack overflow because `String#=~` called itself recursively when it wasn't a Regex.

That means that the "you found a bug" for the bigger project is probably a different bug.

[2015-06-21 20:39] asterite commented on #829
Maybe when there's a WebAssembly specification we can start discussing this, but right now Crystal is more geared towards server and desktop applications, not the web. I'll close this until then.

[2015-06-21 20:57] asterite opened #838 "Delay "dynamic constant assignment" error to semantic phase"
Right now this gives a syntax error:

[code]

That's because the parser assumes that a constant couldn't possibly be assigned in a block, but that's valid because in this case it's a macro expansion. The above should work just fine.

/cc @jhass ;-)

[2015-06-21 22:47] waterlink commented on #835
This strikes me with idea of having 2 levels of abstract methods:

- could implement `:method_a`,
- must implement `:method_b`.

Might be good or might be bad idea. Your thoughts?
On Jun 21, 2015 10:26 PM, "Ary Borenszweig" <notifications@github.com>
wrote:

[2015-06-21 22:49] jhass commented on #835
I'd say just redeclaring the abstract method should count as definition towards the parent, that way we don't need to add a keyword.

[2015-06-22 09:16] ysbaddaden commented on #821
I have a new issue that may be related. The following example won't pass on 0.7.3 but used to with the help of macros, as explained above, and it won't pass anymore on current master. The example doesn't make sense by itself, but I reduced a situation that happens in Artanis' test suite

[code]

This results in:
[code]

I suppose Crystal won't peek after the return (with good reasons) then decides

[2015-06-22 10:32] ysbaddaden opened #839 "nil assertion: yield in ecr template embedded in def macro"
Crystal fails to compile the following example with a `Nil assertion failed` exception. It compiles if `render` is a def, but fails once it's a def macro:

[code]

[code]

[2015-06-22 12:16] bararchy opened #840 "Segfault with xml.namespace"
http://carc.in/#/r/4f0

[code]

returns:
[code]

[2015-06-22 13:45] asterite commented on #839
Reduced:

[code]

It seems `macro def` doesn't work with blocks.

Does it work if you make it a regular method? Blocks are always inlined so each call to a method with a block results in a new instantiation. That should work for now unless you need to defer the block's contents until the semantic phase is finished.

[2015-06-22 13:50] asterite commented on #821
Interesting. In Ruby that gives a syntax error: "void value expression". If you do this in crystal:

[code]

you will get the same error. I think in Crystal it should be the same.

Ruby seems pretty "smart" about this. For example:

[code]

also gives the "void value expression". It seems you can't do a "return" inside an assignment. We should *probably* do the same thing.

[2015-06-22 13:50] #840 closed

[2015-06-22 14:54] ysbaddaden commented on #839
Yes it works, but I would like to generate a `render_layout` method per class, so children of Artanis::Application can each have their own layout, just like they have their own `call` method.

I'm troubled with your "each call to a method with a block results in a new instantiation". What do you mean? That each call from different places will generate a new method? I guess that would be pretty bad

[2015-06-22 15:26] ysbaddaden commented on #821
I suppose, yes.

For completeness: Ruby either discards the "begin" expression in your second example or the void expression bounces from "if" to "begin". Whatever the conditional, it won't accept the last statement to return. But... it passes with an unreachable statement or literal. Is Ruby tricked into thinking that the statement now evaluates to something? I'd expect Ruby to discard whatever i

[2015-06-22 19:50] nabeelomer commented on #762
@asterite Can I make the compiler output ASM?

[2015-06-22 19:52] asterite commented on #762
@nabeelomer Yes, do `--emit asm`

[2015-06-22 19:57] nabeelomer commented on #762
@asterite Somebody working on a Windows release?

[2015-06-22 20:01] asterite commented on #762
@nabeelomer Not really. There's [this](https://github.com/xwanderer/crystal/tree/win32), but we never merged it or tested it well, plus it's missing a lot of things.

[2015-06-22 20:33] y8 opened #841 "Bug: `"string".gsub(/\0*\s*/, "")` is just eating CPU"
You can try this:

`crystal eval 'puts "Parsing"; "string".gsub(/\0*\s*/, ""); puts "Done" '`

You will see `Parsing` and 100% CPU load from compiled program.

Crystal 0.7.3 [bf72b07] (Sun Jun  7 16:17:59 UTC 2015)
Darwin Kernel Version 15.0.0: Wed May 27 20:17:31 PDT 2015; root:xnu-3216.0.0.1.13~1/RELEASE_X86_64 x86_64

[2015-06-22 20:34] Codcore opened #842 "can I somehow get all @type.methods from first class-level macro call, not placing it in the end of class definition?"
Here is the code:
http://play.crystal-lang.org/#/r/4ro
[code]

Output is:
[code]
All I need, it is to be able to be all class methods available at very first call of macro at class-level. Is it a way to say to interpreter not to call this macro while all Def's will not be setted to ```@type.methods```. I don't understand the whole picture what happens, so I can't figure out how to achieve this beh

[2015-06-22 20:44] asterite commented on #842
It's pretty simple: code is read and interpreted by the compiler sequentially. If it's not sequential then it becomes confusing for the programmer.

But, imagine we say "let's first define all defs and then evaluate macros". Then you have this:

[code]

Because `getter name` defines a method, but it's a macro, in the `visible_methods` macro call you will only get `bar`. As you can see, it's not th

[2015-06-22 20:46] y8 commented on #841
Seems like it's related to the #787

[2015-06-22 20:48] y8 commented on #841
Seems like `*` (zero-or-more) is breaking it.

[2015-06-22 20:51] Codcore commented on #842
@asterite for aesthetics and practical reasons. Actually, I'm trying to implement analogue of Rails ```action_before```, it is will be confusing if  we will place it in the end of some thick controller.

[2015-06-22 20:59] Codcore commented on #842
@asterite this makes sense, but in my case it is useful: I don't wanna no macro-defined def's, only that defined by user. So, there no way to bypass this behavior?

[2015-06-22 21:14] asterite commented on #842
I'll have to see some real code to understand what you want to do. But one thing I know is that Crystal isn't 100% Ruby, so probably some (many) things will have to be done in a different way.

[2015-06-22 21:34] Codcore commented on #842
@asterite here is the commit with simple macro implementation:
https://github.com/Codcore/Amethyst/commit/2b745c1c7d44d34f52ff19444712c7210659718f
what I need to do, is:
```before_action :authenticate, only: [:index, :profile]```
It sets callbacks from methods for actions. So, when we call ```index``` or ```profile``` action, ```authenticate``` will be called first. Current version works well, but

[2015-06-22 21:40] asterite commented on #841
This is fixed in HEAD. You can check this using the latest standard library. Just clone the repo and from that directory do:

[code]

It should work fine. Note that for this you don't need to compile a new compiler, `bin/crystal` will pick the new standard library.

[2015-06-22 21:40] #841 closed

[2015-06-22 21:44] Codcore commented on #842
@asterite I realize that Crystal is not Ruby :wink: . I just try to make main approaches as familiar to newcomers from Rails as possible.

[2015-06-22 21:54] asterite commented on #842
I think we'll probably need more features for this. One idea we had for a long time is to be able to mark methods with user-defined attributes and then at compile-time check these. That way you could mark some methods to execute before some other methods. We'd only need an "after" macro hook to execute after a class definition or after the initial semantic phase finishes. But right now what you wa

[2015-06-22 22:11] Codcore commented on #842
@asterite  thank you for your time, maybe I will use some little hack for this so far.

[2015-06-23 17:17] jhass opened #845 "inspect on a generic subclass that has a collection of the parent doesn't compile"
See http://carc.in/#/r/4y1

[code]

[2015-06-23 18:16] asterite opened #846 "Bug with macro def and generic class inheriting non-generic class"
[code]

Gives:

[code]

[2015-06-23 18:17] jhass commented on #845
Closing as a duplicate of #846

[2015-06-23 18:17] #845 closed

[2015-06-23 18:57] nabeelomer commented on #762
@asterite  I read issue https://github.com/manastech/crystal/issues/26. If you can give me some kind of a _'compiler frontend'_ for Crystal, I think I will be able to make it work.

[2015-06-23 22:42] ozra opened #847 "Allow number after capital letter for type vars"
[code]
Feels very natural, and it seems unlikely that anyone would name a type as `T1`.

[2015-06-23 23:11] ysbaddaden commented on #847
For reference: it was decided in #487 and more specifically in [this comment](https://github.com/manastech/crystal/issues/487#issuecomment-81665690) that generics were to be denoted with a single letter.

[2015-06-23 23:13] asterite commented on #847
I think using numbers is OK in this case. This is still better than having to invent a syntax for free/bound type vars.

[2015-06-23 23:22] #838 closed

[2015-06-23 23:23] jhass commented on #838
Thanks!

[2015-06-24 00:00] ozra commented on #758
I'm fresh to Crystal as of today, but will opt to chip in anyway, for a handfull of two cent'ers more - a slightly lengthy comment just to add some wider "outsider" perspective on Crystal.

For some background as for my opinions: I've coded C++ for about 16Y+, mostly with XXX transpiler in front, giving indentation-based syntax, when ever team/contractor situation has allowed me. Have coded a hoar

[2015-06-24 00:02] ozra commented on #740
Yeay!

[2015-06-24 00:06] kirbyfan64 commented on #758
@ozra Haha, you found this too. :O

I think it's fine as-is.

[2015-06-24 00:13] #847 closed

[2015-06-24 00:18] ozra commented on #758
@kirbyfan64 - Haha, yes, luckily. Very interesting project. Think it is good to always start off with outsider perspective comment - before one is poisoned by convention and 'what ever'. ;-)

[2015-06-24 00:45] ozra commented on #847
Wow - that is fast dev'ing! :-)

[2015-06-24 07:10] vendethiel commented on #758
@ozra @kirbyfan64 ;-)

[2015-06-24 08:33] veelenga opened #849 "Compiler eats all avaialbe memory and crashes with a recursive macro"
[code]

Compiler starts eating cpu and memory:

![htop](https://cloud.githubusercontent.com/assets/3624712/8325432/4ec613e2-1a62-11e5-8d51-c367958d60aa.png)

Finally, it crashes when free memory not available anymore:
[code]

Does it possible to detect such situation and warn ? It could be hard to understand what's going on in a large project.

[2015-06-24 08:37] veelenga commented on #849
Or a bit simpler:

[code]

[2015-06-24 11:31] bararchy opened #850 "gets("\0\0") crashes program"
http://carc.in/#/r/507

[2015-06-24 13:34] #850 closed

[2015-06-24 13:37] asterite commented on #850
Thanks!

It turns out the String length computation was incorrect when there was a zero byte, it stopped one it found one. So the length of "\0\0" would be considered to be zero.

Now, String computes its length lazily: if it's zero and the bytesize is greater than zero, we compute it and save it in the string so later it can be reused. The compiler stores statically known strings like `"foo"` in

[2015-06-24 13:38] asterite commented on #849
I'm afraid that would (probably) be [impossible](https://en.wikipedia.org/wiki/Halting_problem).

Did this happen to you accidentally, or you tried to crash the compiler on purpose?

[2015-06-24 13:43] bararchy commented on #850
@asterite Thanks :)

I'll recompile and test

[2015-06-24 14:26] veelenga commented on #849
Accidentally. Bad side of this is editor/ide freezing(if this editor/ide is doing recompilation of a source automatically) and a chance of losing a source code updates. That happen to me with [vim syntastic](https://github.com/scrooloose/syntastic) plugin. But that's because I didn't understand how macro works.

In general, compile time recursion could be a powerful feature. Just now noticed few e

[2015-06-24 14:33] vyp commented on #849
Isn't syntastic just a syntax checker?

[2015-06-24 14:37] veelenga commented on #849
Yes it is. And it uses a following command to check a syntax:

[code]

[2015-06-24 14:41] vyp commented on #849
Yes I just [saw](https://github.com/rhysd/vim-crystal/blob/77536d821380f49b9b7553b156fecf3186088e95/syntax_checkers/crystal/crystal.vim#L18), you're correct. Still, this is because vim doesn't allow async ops. I'm presuming an IDE will not have this problem. Vim does not have async *by design*, so you can't really blame it either.

[2015-06-24 14:45] veelenga commented on #849
IDE will not freeze, but compiler will consume all memory.

[2015-06-24 17:03] vifino opened #852 "What about using MCJIT for crystal eval/run?"
Hey guys.

First up, awesome job! :+1:

`crystal eval` uses tempfiles as it's output and then runs them, I'd like to avoid this, because `crystal eval` may get called absurdly often.
Same with `crystal run`.

What about using [MCJIT](http://llvm.org/docs/MCJITDesignAndImplementation.html) and maybe a fallback interpreter, just like `lli`, instead of the tempfile way?

It would be a very nice alter

[2015-06-24 18:28] benoist opened #853 "Time Parser consumes more numbers than required"
Hi,

Time.parse("20150624", "%Y%m%d") raises an error expecting a number.
I can see that the parser consumes all digits when parsing %Y, however %Y should only consume 4 digits. This is the same for all number patterns with a fixed size.

Should the pattern.cr tell the parser how many digits it's allowed to consume per pattern?

[code]

[2015-06-24 19:05] ozra commented on #852
Did you see this one for getting up to speed? https://github.com/manastech/crystal/wiki/Compiler-internals

Would be great if similar functionality like concepts and macros in Nim could become part of the language and utilize JIT tech or other way of avoiding writing an entire crystal interpreter in order to run macros etc. Disclaimer: I don't know much about the macros yet, they just looked simpl

[2015-06-24 19:06] kirbyfan64 commented on #852
@ozra I think RAM disks are insanely not-portable. If someone wants to use one, I believe they can override the temporary directory Crystal uses and create the disk themselves.

[2015-06-24 19:35] asterite commented on #852
@vifino Hi! We are actually using the MCJIT for some specs, the ones that don't require the full prelude. As far as I remember, we had some issues with it and exception handling. For example you can write this program:

[code]

Compile it:

[code]

And give it this file:

[code]

Now run it:

[code]

(I'm setting CRYSTAL_PATH to the `src` directory of the compiler because the default one is just "

[2015-06-24 19:36] #853 closed

[2015-06-24 19:37] asterite commented on #853
@benoist Definitely! Nice catch!

[2015-06-24 19:38] asterite commented on #825
We will probably want SliceIO, yes.

[2015-06-24 19:39] asterite commented on #837
@jhass Is this issue fixed with [this](https://github.com/ivmai/bdwgc/issues/67)?

[2015-06-24 19:42] waj commented on #852
@asterite I see you don't mention metaprogramming. Ruby is said to be strong in this aspect and for a compiled language that don't want to rely on runtime reflection, macros is the best choice in my opinion.

[2015-06-24 19:51] jhass commented on #837
Well, yes, sort of. It was fixed a few hours after I added a gc replacement package that compiles the static library so the symbol is exported, and then made the crystal packages depend on it with the 0.7.4 update. If it had been fixed before that I had simply made a gc package for the latest git version, but it's essentially the same approach, replacing the official gc package with one that works

[2015-06-24 19:52] vifino commented on #852
@ozra: Thanks, didn't see that before! :+1:

Hello @asterite!

That is awesome!
I'm thinking that making it optional, with a flag like `--mcjit` or via environment variables, would be awesome.
While I don't think there is much of a difference since they are going the same code paths, I do see the problem.
Maybe implement it and use it only for `crystal eval` by default, making it available as a fl

[2015-06-24 19:55] asterite commented on #852
@vifino what code are you feeding the interpreter? For example if you always raise instead of doing it conditionally then it crashes, but that's a known issue (but doesn't matter much because you can't trigger it via the compiler).

[2015-06-24 19:56] vifino commented on #852
@asterite: I'm running your example code, compiled with yesterdays git :)

[2015-06-24 20:02] vifino opened #854 "Build failure on Arch, x86_64"
Hello again.

70ee0c6 doesn't compile:
[code]

Greetings,
vifino

[2015-06-24 20:04] jhass commented on #854
Did pull the [updated PKGBUILD](https://aur4.archlinux.org/cgit/aur.git/commit/?h=crystal-git&id=b894f62e3f762e1519bb8d4b8ab5ac97a16c62fc)?

[2015-06-24 20:05] jhass commented on #854
Oh, looks like I forgot to push it to the old AUR.

[2015-06-24 20:12] vifino commented on #854
Thanks @jhass!

Apart from that, nice meeting you here :)
I remember you name from more than just ruby now :P

[2015-06-24 20:12] #854 closed

[2015-06-24 20:16] jhass commented on #854
You're welcome!

[2015-06-24 20:59] ozra commented on #852
The interpreter example above: does the `run` method use mcjit? Or did I get that wrong?

Regarding macros (at the risk of OT tainting this issue). There are successful languages in the industry that are homo-iconic, and they're growing in numbers.
Not all code can be understood by all people. In projects I've worked on there's often a "black box" part of the system that is _way more_ advanced - a

[2015-06-24 21:47] asterite commented on #852
@vifino Strange, I'll try to reproduce it.

@ozra That's one thing that you can do with `run`. For example there's [this](https://github.com/manastech/crystal_ruby/blob/master/sample/test_ruby.cr), which basically lets you write a class and it generates (if one day we decide to continue it) a class using Ruby's C API, together with its methods. Here's the [macro](https://github.com/manastech/cryst

[2015-06-24 21:51] Kilobyte22 opened #855 "Segfault in Hash/Array"
When working with crystal yesterday i encountered an interesting bug.
Under some circumstances Arrays and Hashes can segfault when used inside an instance variable.

Code examples: [Array](http://carc.in/#/r/534) and [Hash](http://carc.in/#/r/53c)

[2015-06-24 22:00] jhass commented on #855
Note this is a regression from 0.7.4, both examples work fine on 0.7.3.

[2015-06-25 00:30] ozra commented on #852
@asterite - thanks for the links - that kicks serious butt! Then most everything imaginable is possible :-)

[2015-06-25 02:09] #855 closed

[2015-06-25 02:12] asterite commented on #855
@Kilobyte22 Thanks for reporting! And @jhass thanks for noting that it was a regression, it helped me figure out why it broke.

Basically, instance variables initializers didn't go through the second semantic phase. In 0.7.3 that didn't happen either (the bug predates that), but before [this commit](https://github.com/manastech/crystal/commit/702df90b57c01c272f567cf7e518ef0639a1b2af) some of that

[2015-06-25 04:04] will opened #856 "quicksort! segfault"
[code]

Unfortunately `bt` on this sample program hangs forever for me. On https://github.com/will/benchmark-ips-crystal/blob/8adbd8c176ef53b2c9b1d48c76c46310b9efa344/bm.cr I get 30,000 frames of quicksort.

[code]

[2015-06-25 06:29] Kilobyte22 commented on #855
Awesome! Also mad props for resolving the issue that quickly. Now I can go on with my life (read: code)

[2015-06-25 06:40] benoist opened #858 "Time.now daylight savings time"
Hi,

I've noticed Time.now does not include daylight savings time.

Time.now yield
2015-06-25 08:41:40 +0100

Where Time.now in ruby for instance yields
2015-06-25 08:41:47 +0200

[2015-06-25 12:00] asterite commented on #855
@Kilobyte22 You can, of course, initialize te variable in all of your initialize methods as a workaround until the next release.

[2015-06-25 12:15] waj commented on #856
The `sort` method expects a block that can compare two elements. This works:
[code]

In your case the method you are looking for is `sort_by`:
[code]

[2015-06-25 12:19] waj commented on #856
By the way, the program crashes because there is a stack overflow. I still don't know how to recover from that situation and raise a proper exception, if possible at all.

[2015-06-25 12:48] Kilobyte22 commented on #855
For most part I run the self compiled version from git anyways

[2015-06-25 13:13] asterite commented on #856
But I think the program shouldn't crash at all with inconsistent answers from the sort block. In Ruby this works "fine":

[code]

while in Crystal it crashes.

[2015-06-25 15:18] ozra commented on #830
For is a redundancy, but a very nice one in my eyes. I prefer being able to do things in more than one way - choosing the one that looks best to me / my team in a given situation / construct.

I've used `each` constructs extensively in different languages but I still prefer `for x, i in list` by far. It's short, it's just the same thing - as mentioned - but with much cleaner syntax imo.
The macro

[2015-06-25 15:26] rhysd opened #860 "Compiler fails to deal with an alias of union type"
[code]

Above code outputs

[code]

I think `Array(Int32) | Array(Float64)` is valid in this case because below code causes an error.

[code]

[2015-06-25 15:45] kirbyfan64 commented on #830
To me, the issue is that *sugar is addictive*.

It starts with `for` loops. Then you have a keyword as an alternative to `reduce` (or whatever it's called in Ruby). Next thing, you have every single OO, FP, concatenative, active, and parallel feature on the face of the planet, and a language reference just as big.

[2015-06-25 15:47] asterite commented on #860
I think in 0.7.3 we introduced this feature of being able to invoke a method on a union type if it was present in all of the types. For example [like this](http://play.crystal-lang.org/#/r/55z).

This was added so, for example, `Enumerable#sum` can use T.zero as the initial value and so if you do `[1, 2, 3].sum` then T.zero will be 0 (Int32), if you do `[1.5, 2.5, 3.5].sum` then T.zero will be 0.0

[2015-06-25 15:50] asterite commented on #830
Yes, that's the main problem: you introduce a feature because some like it, but then **everyone** has to learn it because they might encounter it. In fact I didn't know about "for" in Ruby and when I encountered it I didn't know what was its purpose, but had to learn it anyway and never used it.

[2015-06-25 15:53] asterite commented on #860
@rhysd As a side note, what do you want to do? Or how did you find this?

[2015-06-25 15:54] kirbyfan64 opened #861 "An option to make type inference a little dumber"
This is a little gripe I've had for a bit now.

Basically, I define a function. And use it. Everyone's happy.

But, then, I call it with the wrong arguments. Crystal makes the function argument a union type, and this accident may not show up for a bit.

It has also frequently happened that I accidentally forget a return somewhere, causing Crystal to change the return type to `XXX|Nil`.

All in all

[2015-06-25 16:13] Exilor commented on #861
Just in case you missed it, you can specify the type of the return value of a method definition since 0.7.0. The compiler will tell you if the return value would be an unintended union.

[2015-06-25 16:34] rhysd commented on #860
Please confirm my understanding is correct.

[code]

In above code, compiler infers the type of `a` as `Int32 | Float64` (type of `typeof(a)`).  And actually the type of `a` is `Int32` at runtime (type of `a.class`).
In above case, type of `a` is determined to `Int32` correctly.  But in my case, type `T` can't be determined `Array(Int32) | Array(Float64))` but it is wrongly used as `Array(Int32)`

[2015-06-25 16:42] jhass commented on #860
I'm not sure how you get to `Array(Int32)|Array(Float64)` from that example, it`s `Array(Array(Int32|Float64))` so the element type of the outer array is `Array(Int32|Float64)`, see http://carc.in/#/r/566 for a way to create a new array of it without knowing the type.

[2015-06-25 16:49] asterite commented on #860
The problem is more subtle. Depending on the elements of each individual array, the type changes:

http://carc.in/#/r/567

That's `Array(Array(Int32) | Array(Float64))` vs. `Array(Array(Int32 | Float64))`

Now if I want to create from one of the array above a single array with all the inner types, [I can in one case](http://carc.in/#/r/568) but [can't in the other](http://play.crystal-lang.org/#/r

[2015-06-25 16:55] asterite commented on #860
That means that `transpose` should probably be something like [this](http://play.crystal-lang.org/#/r/56c). Kind of long with all of those typeof, but you need to combine the types of the internal arrays...

[2015-06-25 17:12] kirbyfan64 commented on #861
@Exilor It didn't seem to always work, though. Sometimes, the result of a function call was the inferred type, not the type I gave.

[2015-06-25 17:24] rhysd commented on #860
@jhass

Thank you for your pointing out.  You are right, I was confused.

@asterite

Thank you.  I understood that the 2 case of union types conflict.  I feel combining all element types is difficult because I don't know how to get the inner type of `Array`.
Although this is just an idea, it may be solved if compiler can reduce `Array(Int32) | Array(Float64)` to `Array(Int32 | Float64)` at type in

[2015-06-25 17:27] asterite commented on #861
One thing that we did consider, but never implemented, is that whenever you have:

[code]

neither x, y or z can accept nil. To accept nil you'd have to make the argument name have a question mark:

[code]

That's because nil is the one that usually accidentally escapes.

@kirbyfan64 If you find a case where the return type restriction doesn't work, please report it.

When I get a type error like

[2015-06-25 17:28] asterite commented on #858
Right. For that we would need to parse and understand the timezones in the machine. That's a huge task right now so it'll have to wait. But if anyone wants to tackle it, our idea was to base it on C#'s classes, and also have a TimeWithOffset (maybe with a different name) type.

[2015-06-25 17:54] bcardiff commented on #860
@rhysd  Going bit formal, but assuming `<:` is the subtype relation between types
It's not true that `Array(Int32) | Array(Float64) <: Array(Int32 | Float64)`.
Because that means an `Array(Int32)` might be used as an `Array(Int32 | Float64)` and therefore assign a `Float64` to some position.
What it is true (or would be nice to be true in crystal) is that `Enumerable(Int32) | Enumerable(Float64) <

[2015-06-25 17:55] asterite commented on #860
@rhysd I think it's just a difficult thing to implement because it's a functionality that's easy to implement in a dynamic language, where an array can hold any type of object, but then you want to translate that logic to a statically typed language where arrays are generics. That, and the thing that the language is still young and we are still figuring best practices and patterns. Believe me, we

[2015-06-25 19:32] vifino commented on #852
@asterite In case you didn't know, that issue is related to LLVM 3.6.X.

It changed some things :)

[2015-06-25 19:42] ozra commented on #861
@asterite: Having to explicitly allow nil's with `id?` looks very good to me. On a side note: what notation is available to restrict/allow mutation of variables and arguments?

@kirbyfan64: It's a good idea you have: being able to restrict, not to a specific type, but to say "infer it, but only to _one_ type, if it's a union: it is not what I intended"

[2015-06-25 20:14] ozra commented on #830
Yes, this really comes down to two mindsets, or schools if you like, to the acceptance of such things, I'm _very_ pro choice in coding. Some people even frown upon suffix if's with disgust - I like them, and find that, especially in early return patterns, they are preferable to the common variant. (Luckily crystal has them :-)

I believe the community and eco system should promote a style, but tha

[2015-06-26 00:46] ozra opened #862 "A faulty url in the docs"
http://crystal-lang.org/docs/syntax_and_semantics/new,_initialize_and_allocate.html

I assume the comma is unintended - because there's a link to this page in the last section, that breaks, having no comma.

[2015-06-26 01:40] #862 closed

[2015-06-26 01:41] asterite commented on #862
I fixed the page that references the link, it was easier than to change everything else. GitBook creates those URLs automatically, seems a comma is valid :-)

[2015-06-26 10:54] pyros2097 opened #865 "Type inference for conditions?"
I Have a constructor like this,
[code]

[code]
But I get this compile error shouldn't the compiler know that @store will never be nil.

Anyway I tried this
[code]

But then this gives this this error
[code]

And is there an easier way to alias this `{} of String => String`
I tried `alias ReqQuery = Hash of String => String` But that doesn't seem to work.

[2015-06-26 11:02] jhass commented on #865
The alias should just be `alias ReqQuery = Hash(String, String)`. For the other question see #477.

[2015-06-26 11:13] pyros2097 commented on #865
Thanks got that alias thing working. But now when I create an empty hash parameter with this alias
[code]
it gives me this error
[code]
Is this not possible or is there some other syntax because I have a lot of methods with this and don't want to redefine the types.

[2015-06-26 11:20] ozra commented on #686
So, for this issue in itself - statically linking with glibc will suffice? Considering the other statics included.
I like the idea of totally static, dependency free binaries - downloading and trying a neat language should just work, be effort free and a nice first impression ;-)

[2015-06-26 11:29] jhass commented on #865
Simply do `query = ReqQuery.new`

[2015-06-26 11:31] pyros2097 commented on #865
Thanks that works.. Need to learn more on crystal.

[2015-06-26 11:31] #865 closed

[2015-06-26 11:34] ysbaddaden commented on #686
The issue will be closed when we can use a musl built crystal to compile apps.

Statically linking against glibc and other dependencies was already operational. Building against musl using this static build is also possible, with a small change around errno, but compiling with this compiler generates segfaulting binaries, which I didn't investigate, yet.

[2015-06-26 15:42] rhysd commented on #860
@bcardiff @asterite

Thank you very much for the formal explanation and comprehensive examples.  I googled subtype relation a bit and I understood the difference between `Array(Int32) | Array(Float64)` and `Array(Int32 | Float64)`.
And I could implement `Array#transpose` referring to the codes in this issue.

I think Crystal is very flexible because it can deal with type as value in runtime includ

[2015-06-26 15:56] ozra commented on #686
Ah, of course, I got the issue wrong. I got a Nim app running with musl - made it insanely small, so it's cool if it works for possible future embedded device hacking, whatnot :-)

[2015-06-26 15:58] bcardiff commented on #860
I think we are learning together. :-)
Just trying to make a nice comfortable language but without compromising performance.

There are some rules that try to make the compiler smart enough to mimic a programmer deduction regarding the types. But rules sometimes are not so easy. Subtyping rules can be learned, but they require a little bit of effort.

Regarding union types. The do exist in runtime.

[2015-06-26 16:39] ozra commented on #780
I vote for 4 (2 & 3).
If it can be caught at _compile time_ - great!
If not - anything that _can_ be saved at runtime, do it: do what the programmer intended and expected, and let the application do what the user expects: **work - not crash**.
If this thing would happen in some routine seldom called, implementing the heart surveillance system that your grandma is hooked up to at the hospital, you'

[2015-06-26 16:58] ozra commented on #462
I don't know how common this use case is, but instead of new syntax, if it indeed is uncommon - can't it be solved with a macro or the like? Something along the lines of:
[code]
Of course with a more suitable name - just a thought of the top of my head...

[2015-06-26 17:01] jhass commented on #462
@ozra I think we already have that. It's called `Enumerable#to_a`: `(1..10).to_a`

[2015-06-26 18:14] kirbyfan64 commented on #462
I like this idea. Python just got this with [PEP 448](https://www.python.org/dev/peps/pep-0448/), and I was super excited. Compare this:

[code]

which creates 3 different arrays, only

[2015-06-26 18:20] kirbyfan64 commented on #780
My vote goes to 4. Programs shouldn't crash from simple oversights like this when possible.

[2015-06-26 18:31] ozra opened #866 "[RFC] `()` "method"/operator on types meaning `.new`"
I've been thinking about this for a while.

Used ~2488 times in the compiler source (some faux matches, semi-naïve RE)
[code]

Used ~5676 times in the compiler source:
[code]

I can't see why `new` doesn't have a terser `()` "method"/operator mapped to it, while we are relieved of writing `some_array.get(some_index)` and `some_array.set(some_index, some_val)` - a construct used half as often.
Both

[2015-06-26 18:43] ozra commented on #688
No strong opinion here, but it wouldn't be terrible with specific language constructs to handle it. Would possibly also be easier for wilder eventual future behind the scenes implementations without worries of affecting the flow in user code based on regular sequential imperative constructs - pure speculation.

[2015-06-26 20:25] #856 closed

[2015-06-26 20:25] waj commented on #856
@asterite now it also works "fine" in Crystal ;-)

[2015-06-26 20:43] waj commented on #866
This change would require changing the syntax of generic types. Otherwise this is ambiguous:
[code]
Is that a new instance of the `Foo` class? or is `Foo` a generic class that's a generic instance type?

[2015-06-26 20:47] asterite commented on #866
I'm not against this idea. In fact we though about it some time ago. But it will need a different syntax. Or we will need to change how to specify generic types, but `Foo[...]` means array access and `Foo{...}` means [custom array](http://crystal-lang.org/docs/syntax_and_semantics/literals/array.html) or [custom hash](http://crystal-lang.org/docs/syntax_and_semantics/literals/hash.html), and `Foo<

[2015-06-26 20:52] jhass opened #867 "Compiler crash with redefined new and instance variable access"
[code]

slightly reduced from http://carc.in/#/r/5j9

[2015-06-26 23:18] ozra commented on #866
@waj, @asterite: Yes, I thought about that. One notation that came to mind was Foo[Bar] for generics, as you also mention. It gives a tighter impression in my eyes.

I'm not too fond of the C++ style (also used by Java, Kotlin, C# etc. C braces like linguas), even though I've coded it 16+ years. On a side note, there's a bunch of languages that require spacing all operators, but I'm uncertain that

[2015-06-26 23:39] kirbyfan64 opened #868 "Odd syntax thing with function definitions"
This program works:

[code]

This is a syntax error:

[code]

I think Crystal is parsing the `end` as an argument name?

[2015-06-26 23:53] bcardiff opened #869 "Parser errors with a {% commented in a macros"
[code]

Outputs
Syntax error in eval:3: expecting token 'EOF', not 'end'

http://play.crystal-lang.org/#/r/5k2

And, probably related

[code]

Outputs
Syntax error in eval:4: expecting token 'EOF', not 'end'

http://play.crystal-lang.org/#/r/5k3

[2015-06-27 00:02] ysbaddaden commented on #868
Yes, just like Ruby. You need either empty parens or a semicolon to disambiguate. Otherwise the parser expects an argument.

[2015-06-27 00:08] kirbyfan64 commented on #868
@ysbaddaden But Ruby has a better syntax error, at least.

Ruby:

[code]

Crystal:

[code]

[2015-06-27 00:39] bcardiff opened #870 "crystal browser does not shows begin ast node after a return"
[code]

shows

[code]

[2015-06-27 07:24] ysbaddaden opened #873 ""\n".strip => negative index exception"
Trying to build Prax against 0.7.4 I noticed exceptions with String#split which I reduced to this simple case:

[code]

[code]

Git bisect outlines this commit 6edd2f4df7bbaff0dc37cbe3f42326edf366f340 (Fixed `String#[]` and `Array#[]` semantic for some border cases.)

[2015-06-27 13:21] bararchy opened #879 "crash in loop do"
I got the error with this:
http://carc.in/#/r/5ou
[code]

I managed to minimize it to this:
http://carc.in/#/r/5ov
[code]

[2015-06-27 14:41] ozra opened #880 "[RFC] This is a Coordination Issue for All Syntax RFC's"
# Purpose #
Since there are a bunch of RFC's for possible **syntax** changes before nailing down 1.0, it could be good to coordinate them in one collective issue "index" - since some of them affect each other.

## Keep in mind ##
- Discussions that relate to more RFC's then a specific one could go in this issue.
- Think about what you would like to code in the next 5, 10 or more years - the bigger

[2015-06-27 14:50] asterite commented on #869
Macro expressions and loops are active in comments so you can for example do this:

[code]

So you need to escape that with "\{%". But it still doesn't parse well, so I'll leave this open.

[2015-06-27 14:51] asterite commented on #870
This is also important because it should work well also for macros (they use the same `to_s`).

[2015-06-27 14:52] asterite commented on #868
I think we can make `def f end` parse well, just an empty def.

[2015-06-27 14:57] asterite commented on #879
Does it crash anywhere else carc.in? I tried it on a mac and on a linux vm and it doesn't crash.

Also, please specify next crash what crashes: the prorgam or the compiler?

[2015-06-27 14:59] jhass commented on #879
I think the random number generator is broken/disallowed in the sandbox for now.

[2015-06-27 15:00] waterlink commented on #869
Sounds like we need macro-comment, like `#% ... comment ...` or something.

--
Best Regards,
Alexey Fedorov,
Sr Ruby Developer, Clojure Developer, Rust Developer,
+49 15757 486 476

2015-06-27 17:50 GMT+03:00 Ary Borenszweig <notifications@github.com>:

[2015-06-27 15:00] bararchy commented on #879
Oh... now testing against HEAD, it seems to build and run at my environment...
Sorry about it.

[2015-06-27 15:00] #879 closed

[2015-06-27 15:00] ssvb commented on #324
@zeiv I tried to build the ARMv6 Crystal compiler binary after setting a new ARMv6 rootfs, rebuilding LLVM and everything else. But appears that this build is more fragile than ARMv7 and the resulting compiler can't recompile itself (it segfaults). Moreover, the ARMv7 build of Crystal 0.7.4 can't recompile itself either. So far it looks like only Crystal 0.7.3 can be semi-usable on ARMv7 (good eno

[2015-06-27 15:33] bcardiff commented on #869
Yes, @waterlink  it seems we do. I bumped into this while commenting/uncommenting some macro code to disable some lines.

@asterite not sure if something like this is also present in the `.ecr` files.

And I'm not sure if it should be the other way around, leave `#` for comments of the macro and have other prefix like `#%` for comments that will be expanded in the resulting code. Otherwise leaving

[2015-06-27 15:49] asterite commented on #868
Actually, I'm not sure, maybe without the `()` or the `;` it looks like `end` is an argument name...

[2015-06-27 15:49] #873 closed

[2015-06-27 15:49] asterite commented on #873
Thanks! It seems strip was "broken" before that but because byte_slice was too permissive it worked fine.

[2015-06-27 15:50] waterlink commented on #868
It is an argument name that nobody will ever be able to use inside of
method body (because it will end the method body), right? In that case I do
not see any harm in making it just work as an empty method.

--
Best Regards,
Alexey Fedorov,
Sr Ruby Developer, Clojure Developer, Rust Developer,
+49 15757 486 476

2015-06-27 18:49 GMT+03:00 Ary Borenszweig <notifications@github.com>:

[2015-06-27 16:32] ozra commented on #758
Perhaps add [RFC] to title, and fix 'color' -> 'colon' typo?

[2015-06-27 16:36] kirbyfan64 commented on #868
@asterite I don't think even Ruby allows `end` as an argument name...

[2015-06-27 16:39] asterite commented on #868
@waterlink @kirbyfan64 I know, I'm just not sure it's worth it. With these you can clearly see where the arguments end:

[code]

But with this it's not that visible:

[code]

Then, what if the method has arguments, should we allow this?

[code]

Now it's not very obvious if "bar" is an argument or the body...

[2015-06-27 16:43] kirbyfan64 commented on #868
@asterite At least, if it isn't changing, a better error message would be nice...

[2015-06-27 17:52] aktowns opened #889 "Error message not being shown for included macro"
Looks like the error message is getting lost somewhere with the following snippet:

[code]

which gives me

[code]

[example](http://carc.in/#/r/5q4)

[2015-06-27 18:50] ozra opened #891 "Descrepancy for hash-literals passed to function"
Unsure if it's a bug, or I've missed some rule regarding hash-literals.

Works:
[code]

Doesn't:
[code]

[2015-06-27 19:00] jhass commented on #891
The ambiguity is the one to the block literal:

[code]

[2015-06-27 19:03] aktowns commented on #837
Looks like this affects fedora as well, for anyone else stuck [this spec file](https://gist.githubusercontent.com/aktowns/4846ab1aec7b58914bb8/raw/gc.spec) should rebuild gc with static enabled for a temporary fix

[2015-06-27 19:06] #889 closed

[2015-06-27 19:06] asterite commented on #889
Thanks! Now it will show:

[code]

I also added camelcase and underscore, they are useful.

[2015-06-27 19:08] aktowns commented on #889
Awesome! thank you

[2015-06-27 20:54] ozra commented on #891
Ok, they're "competing" for the brace. Perhaps distinction should be clarified somehow?

[2015-06-27 21:15] jhass commented on #891
Ruby "solves" this by making the braces of the hash literal optional if it's the last argument.

[code]

[2015-06-28 06:44] bcardiff commented on #830
I like the idea of having mostly one way to do each thing. Less things to learn when you read others code.

But for each project or for a specific scenario I also like to be able to adapt the language to the needs.

Adding the `for/in` as a macro might be too much. Since it seems something to core to the language. But it is doable. The following snippet does the work

http://play.crystal-lang.org/

[2015-06-28 07:15] jhass commented on #879
@bararchy the issue was that the sandbox had no access to `/dev/random` and `/dev/urandom` and thus OpenSSL failed to seed the PRNG for us, it's fixed now http://carc.in/#/r/5rf

[2015-06-28 07:17] jhass commented on #879
What would've been helpful in debugging this is if crystal would call SSL_load_error_strings if OpenSSL was loaded, though I guess @datanoise's version already does that?

[2015-06-28 07:43] bararchy commented on #879
@jhass for now (https://github.com/datanoise/openssl.cr/commit/5e945c67ace0bf3100fcc2c7f52a72d1fc3d1ae1) only checking for errors on sockets.
I'll send a PR with additional checks for this.
Thanks :)

[2015-06-28 09:17] ozra commented on #830
Hey, that's awesome!

Is it possible to get rid of the  'do' at the end? And is it possible to also get the `for v, i in a`?

I'll use this instead of the `lisp.notation.inverse` (_as I've come to view **dogmatic** OOP-pattern use_). Most people think 'for...' in pseudo - not the Yoda way. I like it when pseudo is a second away from being runnable.

And, once again for the 'less to learn' argument

[2015-06-28 10:05] aktowns opened #895 "macro templating in asm() block space sensitivity"
Not quite sure if this a bug or I'm missing something obvious but I have the following

[code]
which gives me the following output
[code]
Is there a whitespace insensitive way to insert the template variables?

[2015-06-28 10:11] aktowns commented on #895
A similar case is
[code]
which  gives me

[code]

but if i unbalance the speech marks with
[code]
[it compiles](http://play.crystal-lang.org/#/r/5st)

[2015-06-28 10:20] ozra commented on #891
It works good with the parens so that's all good anyway :)

The open hash literal seems like it could cause more ambiguity problems than solve (Livescript and coffeescript comes to mind).

What's the precedence for the `{` parsing, including other potentially conflicting uses?

[2015-06-28 10:35] jhass commented on #891
Uh, let's see

[code]

mmh, not sure I catched all

[2015-06-28 11:06] rhysd commented on #860
@bcardiff

Thank you for your comment and explanation of union types.
I'll try to learn more about type system of Crystal.

Then I'll close this issue.

[2015-06-28 11:06] #860 closed

[2015-06-28 11:17] PragTob opened #896 "Capturing blocks/procs raises compile error even if not evaluated (undefined methods)"
Hi everyone,

so I tried to write a new library in crystal today and stumbled upon this problem with the compiler. Basically what I want to do is I want to capture a proc for later usage and then instance_eval it later for my DSL (e.g. `with self yield`)

That doesn't seem to work as somehow method calls in procs seem to already be checked when I assign them to an instance variable. E.g. for refer

[2015-06-28 13:33] bcardiff commented on #830
@ozra I'm glad you like it

Playing with macros *to somehow extend the language* reduces to find a valid crystal statement and transform it to give the semantic. But the catch is that is has to be a valid crystal statement.

I defined an empty single argument macro and start checking if it parses different alternatives. Then navigate the ast to extract the information.

So

No. We need a block for

[2015-06-28 14:31] ozra commented on #830
Aha, this is how I added type checking and macros to LS - by writing legal code, and mutating the AST, then rendering and eval'ing code dynamically - equally ugly ;-) So same thing here, got it.

Thanks for the effort! Much appreciated. I'll try and hack in the `for v[i] in a` variant - that was an innovative one! Much clearer regarding intent then the commonly used ones! :-)
Both should be possib

[2015-06-28 14:56] vendethiel commented on #830
( I'd love to see that, though :). )

[2015-06-28 15:36] bcardiff commented on #830
Yes @ozra, it should be doable with conditional macro branches :-)

[code]

Generates the following ast

[code]

While
[code]

Generates

[code]

With that and the gist you should be able to get the desired macro.

[2015-06-28 15:50] asterite commented on #896
Unfortunately you can't do `with self yield` with a captured block. There's no such thing as Ruby's `instance_eval` and will probably never be.

In Ruby it's easy because it's interpreted: when interpreting the block Ruby can choose what the scope is. In Crystal this is harder, all we know about a block is it's type: what are the input types and what is the return type. We have to figure things at

[2015-06-28 15:52] asterite commented on #896
@PragTob I also saw [this](https://github.com/PragTob/speccr). Unfortunately the issue you are waiting to be solved (this) will probably never be "solved" (because it's not an issue, it's a design decision). You would have to think of another way to do what you want. [This](https://github.com/waterlink/spec2.cr) is another try at a better spec framework, but I think it uses more macros rather than

[2015-06-28 15:53] asterite commented on #895
These are definitely bugs, we'll fix them.

[2015-06-28 16:27] PragTob commented on #896
Hey @asterite !

Thanks for the detailed explanation, I was afraid this might be a technical limitation.

What I really wanted to do was evaluate `it` blocks and everything in different contexts and save them so I could run them in random order or something. As well as suppport `let` statements and friends :)

Thanks for the link to @waterlink 's repo, I'll have a look.

I guess then I'll have to

[2015-06-28 16:27] #896 closed

[2015-06-28 22:51] ozra commented on #891
Thanks a lot for the run down! :)

[2015-06-28 23:33] ozra commented on #406
As a complete non-Rubyist (@Exilor - Crystal is an excellent language, that's why _I_ like it (C++er)) I've come to really like this style of, _"duck-wording"_, especially `dangerous!(foo)` is a really smart practise I think. Like @vendethiel mentions: mutation is bad; but sometimes it's a performent necessary evil - and then it's better to have a convention for naming, so the danger is obvious at

[2015-06-28 23:55] ozra commented on #830
For the record, my wish for a `for...` construct is that it scopes iteration vars within the loop.

It really should just be pure sugar (as already mentioned) for using `.each`, `.each_index`, `.each_with_index` or whatever they're all called, behind the scenes - just selecting the appropriate method depending on which of val, index or both are asked for via the much terser notations:
[code]

The

[2015-06-29 00:05] will commented on #868
Could Crystal make parens required on method definitions? I've personally never liked when people didn't use them in Ruby.

[2015-06-29 00:15] kirbyfan64 commented on #868
@will I use those all the time...

[2015-06-29 00:23] asterite commented on #868
@will I dislike that too, I always use parens

[2015-06-29 07:46] jhass commented on #868
I always leave them off in my personal projects, though community standard is to add them for method definitions, yeah.

[2015-06-29 12:18] ozra commented on #868
I think method defs are more apparent with the slight bit of formalia, the two parens ain't to much to ask. I use parens on no args methods too - I know that's not official recommendation though.

On the other hand, since some like the opposite way, and this is hardly a needed change, the rule could be "if `end` is encountered after method name - it's an end keyword". If one wants a param named 'e

[2015-06-29 15:35] ozra opened #900 "[RFC] Voluntary, scoped, "explicit"/"strict" modes (constraints and demands on code)"
I was hacking around in the lexer a bit for fun, refactored a bit, and had some errors that showed up _some times_, aka "slightly harder to debug than consistent ones".

In this case local vars keeps states over several screen pages in this long function. Refactoring gives no error because assigning to a symbol declares and allocate the variable.

The implicit allocation is a very nice feature in

[2015-06-29 15:41] waj commented on #743
I just updated the latest image to 0.7.4. I'll try to keep this up to date and automate if possible.

[2015-06-29 15:41] #743 closed

[2015-06-29 16:25] #895 closed

[2015-06-30 19:11] Perelandric opened #908 "Compiler crash (or quiet allowance) on assignment to `self` within a multiple assignment"
A multiple assignment that assigns to `self` either crashes the compiler or fails to error.

Given the following code, the compiler with crash:

[code]

Changing the following code so that the types are the same will result in no crash, but no error:
[code]

In either case, if we replace the multiple assignment with a temp variable, we get the expected `can't change the value of self` error:

[cod

[2015-06-30 21:57] ozra commented on #830
@bcardiff - OT here, but how do you debug print the AST? I'd like to know both for macros and for the real AST. Only answer I've gotten so far is "probably not possible", did you write above AST manually??

[2015-06-30 21:59] bcardiff commented on #830
I've just extracted a shareable version :-)
https://gist.github.com/bcardiff/a663b1ea1e8fd6a308cc

Happy Macroing!

[2015-06-30 22:00] ozra commented on #830
Thanks a f-in million! Was afraid I was gonna have to code it, haha. :-D

[2015-06-30 22:03] bcardiff commented on #830
@ozra there is also a snippet in https://groups.google.com/forum/?fromgroups#!searchin/crystal-lang/json/crystal-lang/VBcUdJNUM-s/WCX4ke53Z10J that produces a json

[2015-07-01 00:21] #908 closed

[2015-07-01 00:21] asterite commented on #908
@Perelandric Thanks for reporting this!

[2015-07-01 00:24] asterite commented on #900
One thing I'd like to note is that "this would not affect anyone who doesn't touch the constraint directives" is never true, no matter what the language feature is.

If person A decides to use it but then person B wants to collaborate with A, B needs to learn the feature to understand the code. And B will probably want to follow A's style.

[2015-07-01 00:29] kirbyfan64 commented on #900
This reminds me of two things I'd like to see:

- A way of declaring a variable as a compile-time constant. Mostly for optimization purposes. This might already be possible and I didn't notice.

- A variable annotation that forces stack allocation. Basically, it's the programmer's way of saying, "Shut up, I know what I'm doing!" This good be good for tight loops.

[2015-07-01 04:32] michelboaventura opened #909 "Problem converting empty tuple to array"
Hi!

I'm trying to do something like this:

[code]

If then I call ```foo(10)``` it works, but calling just ```foo``` gives me
[code]

I can reproduce this with just ```Tuple.new.to_a + [1, 2]```

[2015-07-01 05:54] vendethiel commented on #830
Ohh, patching crystal for dev purposes... I like it

[2015-07-01 13:55] Perelandric commented on #909
I believe this is covered in the [Type Restrictions docs](http://crystal-lang.org/docs/syntax_and_semantics/type_restrictions.html), under the *"Type Restrictions in Splats"* section.

[2015-07-01 15:18] ysbaddaden commented on #909
You must specify the type of `*args` using (I think) `def foo(*args : Int32)` otherwise Crystal has no way to determine the type of arguments (since there are none) and this clashes with the array concat.

[2015-07-01 15:26] Codcore opened #910 "Compiler crash"
I was trying to implement something like a Ruby ```send``` method and get compiler crashed:
http://play.crystal-lang.org/#/r/63h
[code]
Output
[code]
[code]

[2015-07-01 15:37] kostya opened #911 "macro inherited bug"
[code]

this works in crystal 0.5.5
[code]

[2015-07-01 15:55] bcardiff commented on #909
Using

[code]

will allow any real type `T` to be used. So a `Array(T | Int)` will be created.
But right now that `T` can't be instantiated in an union type.

`foo(4)` and `foo(true)` are valid. But not `foo(4, true)` due to splats semantic. (it might be improved, but it is not the issue here)

Also as explained in http://crystal-lang.org/docs/syntax_and_semantics/type_restrictions.html if a type

[2015-07-01 16:09] asterite commented on #909
It works if `Array#+` has a different defition: http://play.crystal-lang.org/#/r/63x

The problem is that we are using some pointer methods like `copy_from` and some types are incompatible. But this should definitely work.

An empty tuple's element type, if you do for example `i = 0; Tuple.new[i]` is inferred to be `NoReturn`, because it will always raise. Then, the union of NoReturn and some T is

[2015-07-01 16:18] asterite commented on #911
This is because the `inherited` macro is executed after the whole class definition is evaluated. In Ruby it's executed right after the first line `class B < A`.

At some point I changed the semantic so I could do [this](http://play.crystal-lang.org/#/r/63y), because in Ruby if you do the [same](http://carc.in/#/r/63z) you will see that Child doesn't get a name set, and it's because the "new" metho

[2015-07-01 16:24] kostya commented on #911
in problem to compile this:
https://github.com/kostya/http_parser.cr/blob/master/src/common_parser.cr#L98

[2015-07-01 16:29] jhass commented on #911
@kostya why don't you use a pattern like this? https://github.com/jhass/DeBot/blob/master/framework/src/framework/bot.cr#L17 (that can work on a class level too), or something like

[code]

(just showing the idea, don't remember the specifics).

[2015-07-01 17:21] ozra commented on #900
@asterite - of course you're right about that. Project owners dictates style. I reccon above 'hardening directives' would be in hard core central code, though, so anyone getting in to that is probably prepared to cope with a few additional rules. Macros is by far the greatest leap in making a language 'need to figure stuff out and learn more all the time', past that, I don't really see anything th

[2015-07-01 17:26] ozra commented on #830
@bcardiff - cool - the YAMLish output was great for investigation though :-)
Aaah yeah.

[2015-07-01 17:55] kostya commented on #911
another example inherited and class method
[code]

[code]

but set2 works

[2015-07-01 18:07] jhass commented on #911
well the macro is evaluated in the class scope there but you're assuming instance scope, `self.value` should work.

[2015-07-01 23:07] ylluminate opened #914 "Differences from Ruby?"
Having just stumbled across `Crystal`, I have seen a lot of talk about similarity with `Ruby`, which is excellent, but I am curious: What are the differences?  (Especially at the language grammar level?)

I am thinking that a comparison of differences might make it easier for one to understand Crystal and its objectives better than discussing commonalities.  Further, what are your goals in being a

[2015-07-01 23:20] kirbyfan64 commented on #914
- No `for` loop and fewer aliases (in a good way)
- Abstract classes
- Static typing
- Compile-time nil checks
- Character literals
- Much better speed!

[2015-07-01 23:36] ylluminate commented on #914
Hmm, that's interesting (and seemingly odd) re: the for loop.  What's the logic behind that?

[2015-07-01 23:46] kirbyfan64 commented on #914
@ylluminate

1. Apparantly, use of the `for` loop is discouraged in Ruby anyway. You can just use `.each` and related.

2. No clue. I've never actually *used* Ruby before...

[2015-07-02 00:06] ylluminate commented on #914
Well, I'm no fan of `for` loops, but for the sake of compatibility I would have thought that it would be important to implement.  We are particularly interested in isomorphic software development where we maintain the language from top to bottom.  We've had great results with Opal and now with Volt being essentially a Meteor for Ruby.  Having Crystal for the server side and Opal for the browser se

[2015-07-02 04:26] bcardiff commented on #914
@ylluminate Crystal does not aim to compile out of the box Ruby code. In some cases it happens. But metaprogramming is quite different. Due to the type inference in crystal there are some mandatory type annotations that any Ruby programmer will encounter pretty soon.

http://play.crystal-lang.org/#/r/64i

Although Crystal inherits it's syntax from Ruby, it is a different language. We like the comf

[2015-07-02 05:58] ssvb commented on #914
@ylluminate I myself became aware of Crystal a few months and had similar hopes, see #593

If you are in control of your code, then you can always change it to use the syntax constructs which work the same. For example, if one had ```for``` loops in the code, then they can be just easily rewritten using the iterators and the problem is solved. It works as long as there is at least one common way t

[2015-07-02 07:20] Codcore commented on #914
@ylluminate also Crystal doesn't support passing hash without curly braces as a last argument. But instead of this you can use syntax with ````:``` for default arguments. I think it is better and faster way than passing hashes.

[2015-07-02 07:32] gdotdesign opened #916 "Can't use class variables in virtual type"
The following code throws an error, I think it shouldn't http://play.crystal-lang.org/#/r/653

Here is the error:
[code]

[2015-07-02 08:09] bararchy opened #917 "Compiler bug (crash)"
[code]

[2015-07-02 08:09] classyPimp commented on #914
Will or does Crystal have the meta-programming capabilities of Ruby, like method_missing and etc.?

[2015-07-02 08:12] Codcore commented on #914
@classyPimp yes it has macroses for it.

[2015-07-02 08:13] jhass commented on #914
@classyPimp No, but it has replacements for a lot already through the macro language. For example there are a couple of [automatically called macros](http://crystal-lang.org/docs/syntax_and_semantics/macros/hooks.html) which indeed has a `method_missing` macro that gets you quite close to the Ruby functionality.